{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grrs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Hash</th>
                <th>Wednesday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grr in grrs %}
            <tr>
                <td><a href="{{ path('grr_show', { 'id': grr.id }) }}">{{ grr.id }}</a></td>
                <td>{{ grr.username }}</td>
                <td>{{ grr.email }}</td>
                <td>{{ grr.hash }}</td>
                <td>{% if grr.wednesday %}{{ grr.wednesday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grr_show', { 'id': grr.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grr_edit', { 'id': grr.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grr_new') }}">Create a new grr</a>
        </li>
    </ul>
{% endblock %}
