{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grr</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grr.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ grr.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ grr.email }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ grr.hash }}</td>
            </tr>
            <tr>
                <th>Wednesday</th>
                <td>{% if grr.wednesday %}{{ grr.wednesday|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grr_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('grr_edit', { 'id': grr.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
