<!-- Small modal -->

<div class="modal fade showContactModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #b3e1e8">
                <strong>Association ARTELI</strong>
            </div>
            <div class="well-sm text-center">
                <p>44 rue Paul vaillant couturier</p>
                <p>33270 FLOIRAC</p>
                <p>arteli.association@gmail.com</p>
                <p>06 63 78 48 26</p>
            </div>
        </div>
    </div>
</div>