<div class="row">
    {% for key,var in vars %}
    <div class="col-sm-{{12/loop.length}}">
        {#<img src="{{ asset(var) }}" alt="Example" data-toggle="modal" data-target="#diapo{{ diapo }}" data-slide-to="{{key}}" class="img-responsive img-rounded {{css}} imgmarginbottom center-block"/>#}
        <a href="#diapo{{ diapo }}" data-toggle="modal" data-slide-to="{{key}}"><img src="{{ asset(var) }}" class="img-responsive img-rounded {{css}} imgmarginbottom center-block"/></a>
            {% if legend[key] is defined  %}
            <p class="text-center thumbnail-neg"> <small><i>{{legend[loop.index0]|raw }}</i> </small></p>
            {%  endif %}
    </div>
    {% endfor %}
</div>
