<div class="row">
    {% for var in vars %}
    <div class="col-xs-3">
        <img src="{{ asset(var) }}" alt="Example"
             class="img-responsive img-rounded pop paysage4 imgmarginbottom center-block"/>
    </div>
    {% endfor %}
</div>