<div class="row">
    {% for var in vars %}
    <div class="col-md-4">
        <img src="{{ asset(var) }}" alt="Example"
             class="img-responsive img-rounded paysage3x3 pop imgmarginbottom center-block"/>
    </div>
    {% endfor %}
</div>