<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Notre association développe des projets artistiques, participatifs et collaboratifs sur la commune de Floirac, de Bordeaux et de sa Métropole.">
    <meta name="keywords" content="arts plastique,dessin,projet">
    <meta name="author" content="">

    <title>{% block title %}ARTELI{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    {#{% stylesheets filter='cssrewrite'#}
    {#'css/arteli.css'#}
    {#'bootstrap/css/bootstrap.min.css'#}
    {#'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />#}
    {#{% endstylesheets %}#}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {#<!-- Custom CSS -->#}
    <link href="{{ asset('css/arteli.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap Core CSS -->
    {#<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}
    <!-- Custom CSS -->
    {#<link href="css/arteli.css" rel="stylesheet">#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<script src="js/jquery-1.11.3.js"></script>#}
    {#<script src="bootstrap/js/bootstrap.min.js"></script>#}

    <script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>


</head>
{% endblock %}
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = '//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    {% block navtopbar %}
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-2 col-md-offset-5"><a href="{{ path('arteli_home') }}"><span class="label" style="color: #337ab7"><i
                                class="fa fa-home accueil">Accueil</i></span></a></div>
            <!--<div class="col-xs-2"> <a href="contact.html"><span class="label glyphicon glyphicon-envelope">Contact</span></a></div>-->
            <div class="col-md-2 "><a href="" data-toggle="modal" data-target=".showContactModal"><span class="label" style="color: #337ab7"><i
                                class="fa fa-envelope-o accueil">Nous contacter</i></span></a></div>
            <div class="col-md-2 "><a href="{{ path('arteli_switch', {'switch': 'localisation'}) }}"><span
                            class="label" style="color: #337ab7"><i class="fa fa-map-marker accueil">Localisation</i></span></a></div>
        </div>
    {% endblock %}
    <!--<div class="col-xs-8"></div>-->
    {% block imgheader %}
    {% endblock %}
    <div class="container menu2 visible-xs visible-sm">

        <div class="presentationMini">
            <ul id="menu">
                {#<li><span class="glyphicon glyphicon-home label-info"></span>#}
                {#<li><button type="button" class="btn btn-info btn-xs presentationMini"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></span>#}
                <li>
                    <button type="button" class="btn btn-info btn-xs presentationMini"><span
                                class="glyphicon glyphicon-home"></span></button>
                    </span>

                    <ul>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}"><span class="label">Qui sommes nous ?</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#artpla"><span
                                        class="label">Les arts plastiques</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#objectif"><span
                                        class="label">Nos objectifs</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#territoire"><span
                                        class="label">Notre territoire</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#gouvernance"><span
                                        class="label">Gouvernance</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#da"><span class="label">Direction artistique</span></a>
                        <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#da"><span class="label">Nos partenaires</span></a>
                        <li><a href="{{ path('arteli_agenda_mini') }}"><span class="label">L'Agenda</span></a></li>
                        <li><a href="" data-toggle="modal" data-target=".showContactModal"><span
                                        class="label">Contact</span></a></li>
                        <li><a href="{{ path('arteli_switch',{'switch':'localisation'}) }}"><span class="label">Localisation</span></a>
                        </li>
                    </ul>
                </li>
                {#<li><button type="button" class="btn btn-info btn-xs presentationMini"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></span>#}
                <li>
                    <button type="button" class="btn btn-info btn-xs presentationMini"><span
                                class="label">Le projet</span></button>
                    </span>

                    <ul>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}"><span class="label">Pr&eacute;sentation</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#passerelle"><span class="label">Des projets passerelles</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#structureprojet"><span
                                        class="label">Structure des projets</span></a></li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#intergene"><span class="label">Interg&eacute;n&eacute;ration & interculturalit&eacute;</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#age"><span class="label">Tous les &acirc;ges</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#nospartenaires"><span
                                        class="label">Nos partenaires</span></a></li>
                    </ul>
                </li>
                {#<li><button type="button" class="btn btn-info btn-xs presentationMini"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></span>#}
                <li>
                    <button type="button" class="btn btn-info btn-xs presentationMini"><span class="label">R&eacute;alisations</span>
                    </button>
                    </span>

                    <ul>
                        <li><a href="{{ path('arteli_switch', {'switch': 'fresquemural'}) }}"><span class="label">Fresque murale</span></a></li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'catalogue'}) }}"><span class="label">Édition catalogues / Guides</span></a></li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'fresquepapier'}) }}"><span class="label">Fresque papier</span></a></li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'kamishibai'}) }}"><span class="label">Illustrations / Kamishiba&iuml;</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'mosaique'}) }}"><span class="label">Couleur, Motif, Mosa&iuml;que et Tressage</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'portrait'}) }}"><span class="label">Le Portrait / L'Autoportrait</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'volume'}) }}"><span class="label">Volume / Sculpture</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'installation'}) }}"><span class="label">Installations</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'renovation'}) }}"><span class="label">Cr&eacute;ation / R&eacute;novation de meubles et objets</span></a>
                        </li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'carnaval'}) }}"><span class="label">Création de char</span>></a>
                        </li>

                    </ul>
                </li>
                {#<li><button type="button" class="btn btn-info btn-xs presentationMini"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></span>#}
                <li>
                    <button type="button" class="btn btn-info btn-xs presentationMini"><span
                                class="label">On en parle</span></button>
                    </span>

                    {#<ul>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}"><span class="label">Pr&eacute;sentation</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#amenagement"><span class="label">Am&eacute;nagement de l'Atelier</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#adhesion"><span class="label">Adh&eacute;sions</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#horaire"><span class="label">Horaires d'ouverture</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#atelier"><span class="label">Ateliers d'arts plastiques</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#jouratelier"><span class="label">Jours & horaires des ateliers</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#tarif"><span class="label">Tarifs des ateliers</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#stage"><span class="label">Stages</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#reglement"><span class="label">R&egrave;glement int&eacute;rieur</span></a></li>#}
                    {#<li><a href="{{ path('arteli_switch', {'switch': 'lieu'}) }}#contact"><span class="label">Nous rencontrer</span></a></li>#}
                    {#</ul>#}
                </li>
                <li>
                    <button type="button" class="btn btn-info btn-xs presentationMini"><span class="label" aria-hidden="true">Entreprises</span></button>
                    </span>
                    <ul>
                        <li>
                            <a href="{{ path('arteli_switch', {'switch': 'entreprise'}) }}#entreprise_presentation"><span
                                        class="label">Présentation</span></a></li>
                        <li><a href="{{ path('arteli_switch', {'switch': 'entreprise'}) }}#entreprise_onepoint"><span
                                        class="label">Réalisations projets</span></a></li>
                    </ul>
                </li>
                <li><a href="{{ path('arteli_switch', {'switch': 'stages'}) }}" class="btn btn-info btn-xs presentationMini"><span class="label" aria-hidden="true">Stages</span></a></li>

                <li><a href="{{ path('arteli_switch',{'switch':'localisation'}) }}" style="padding-top: 3px;"><span
                                class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></li>
                <li><a href="{{ path('arteli_agenda_mini') }}" style="padding-top: 3px;"><span
                                class="glyphicon glyphicon-calendar"></span></a></li>
                <li><a href="" data-toggle="modal" data-target=".showContactModal" style="padding-top: 3px;"><span
                                class="glyphicon glyphicon-envelope"></span></a></li>


            </ul>
        </div>
    </div>

    <div class="row menu1 hidden-sm hidden-xs">
        <div class="col-sm-12">
            <div class="col-sm-2 presentation">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}">Qui sommes nous ?</a>
                        <ul style="padding-left: 15px;">
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#artpla">Les arts
                                    plastiques</a>
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#objectif">Nos
                                    objectifs</a>
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#territoire">Notre
                                    territoire</a>
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#gouvernance">Gouvernance</a>
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#da">Direction
                                    artistique</a>
                            <li><a href="{{ path('arteli_switch', {'switch': 'presentation'}) }}#da">Nos partenaires</a>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 projet">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}" style="margin-left: 15px;">Le
                            projet</a>
                        <ul>
                            <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#passerelle">Des projets
                                    passerelles</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#structureprojet">Structure
                                    des projets</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#intergene">Interg&eacute;n&eacute;ration
                                    & interculturalit&eacute;</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#age">Tous les &acirc;ges</a>
                            </li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'projet'}) }}#nospartenaires">Nos
                                    partenaires</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 presentation">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch', {'switch': 'fresquepapier'}) }}" style="margin-left: 15px;margin-top: -5px;">R&eacute;alisations
                            Projets</a>
                        <ul style="padding-left: 15px;">
                            <li><a href="{{ path('arteli_switch', {'switch': 'fresquemural'}) }}">Fresque murale</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'catalogue'}) }}">Édition catalogues / Guides</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'fresquepapier'}) }}">Fresque papier</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'kamishibai'}) }}">Illustrations /
                                    Kamishiba&iuml;</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'mosaique'}) }}">Couleur, Motif, Mosa&iuml;que
                                    et Tressage</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'portrait'}) }}">Le Portrait /
                                    L'Autoportrait</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'volume'}) }}">Volume / Sculpture</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'installation'}) }}">Installations</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'renovation'}) }}">Cr&eacute;ation / R&eacute;novation
                                    de meubles et objets</a></li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'carnaval'}) }}">Création de char</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 projet">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch', {'switch': 'stages'}) }}"
                           style="margin-left: 0px;margin-top: 0px;">Stages</a>
                        <ul style="padding-left: 15px;">

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 presentation">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch',{'switch': 'speakingofwhich'}) }}" style="margin-left: 15px">On en parle</a></li>
                </ul>
            </div>
            <div class="col-sm-2 projet">
                <ul id="menu">
                    <li><a href="{{ path('arteli_switch', {'switch': 'entreprise'}) }}"
                           style="margin-left: 15px; margin-top:-8px;">Entreprises<br>Formations</a>
                        <ul style="padding-left: 15px;">
                            <li><a href="{{ path('arteli_switch', {'switch': 'entreprise'}) }}#entreprise_presentation">Présentation</a>
                            </li>
                            <li><a href="{{ path('arteli_switch', {'switch': 'entreprise'}) }}#entreprise_onepoint">Réalisations
                                    projets</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}


    {% include 'ArteliBundle:Modal:contact.html.twig' %}
    {% include 'ArteliBundle:Modal:image.html.twig' %}
</div>
<div class="panel panel-footer text-right" style="margin-top:70px;">
    <div class="panel-body">
        <div class="fb-page" data-href="https://www.facebook.com/arteli33/" data-small-header="true"
             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/arteli33/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/arteli33/">Arteli</a></blockquote>
        </div>
    </div>
</div>
<script src="{{ asset('js/arteli.js') }}"></script>
</body>
</html>
