{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }} ACTUALITES PONCTUELLES{% endblock %}
    {% block imgheader %}
        <div class="row">
            {% image 'img/arteli1.jpg' %}
            <img src="{{ asset_url }}" alt="Example" class="img-responsive" style="margin-top: -20px;"/>
            {% endimage %}
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
    <div class="row main">
        <div class="col-md-8">
            <h4 id="mars">Juin / Juillet 2017</h4>
            <div class="page-header">
                <p style="font-size: larger"><strong>10 juin 2017 : Atelier artistique à destination des familles de l’association SAVS Droite.</strong></p>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" src="{{ asset('img/projets/actualites/SAVS/1.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop"  src="{{ asset('img/projets/actualites/SAVS/2.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop"  src="{{ asset('img/projets/actualites/SAVS/3.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="page-header">
                <p style="font-size: larger"><strong>1er juillet 2017 : Fête de l’Eté, ville de Floirac.</strong></p>
                <p>Arteli a mis à disposition des familles présentes deux plans du quartier des étangs. Les plans ont été réinventés et réinterprétés par des collages et des ajouts de matières et de petits éléments. 80 personnes ont bénéficié de l’atelier.</p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop"  src="{{ asset('img/projets/actualites/feteEte2017/1.jpg') }}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop"  src="{{ asset('img/projets/actualites/feteEte2017/2.jpg') }}">
                    </div>
                </div>
            </div>
            <h4 id="mars">Avril 2017</h4>
            <div class="page-header">
                <p style="font-size: larger"><strong>Festival de la petite enfance le 8 avril 2017.</strong></p>
                <p>"Si j'&eacute;tais un artiste".</p>
                <p>R&eacute;alisation collective et familiale d'une sculpture lumineuse que vous pourrez d&eacute;couvrir dans le hall du CCAS de la Mairie de Floirac photo + affiche</p>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/petitenfance017/20170408_135940_resized.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/petitenfance017/20170408_172640_resized.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/petitenfance017/20170408_172656_resized.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="page-header">
                <p style="font-size: larger"><strong><i>Stage Arteli, 20 au 23 d&eacute;cembre 2016, M270, Floirac</i></strong></p>
                <p>R&eacute;alisation d'une d&eacute;coration sur deux socles de la M270 &agrave; Floirac.</p>
                    <p>Bravo aux 18 adh&eacute;rents pr&eacute;sents sur les ateliers pour leur cr&eacute;ativit&eacute; et leur bonne humeur !</p>
                    <p>Un chaleureux merci &agrave; Violaine, membre du C.A. <i>d'Arteli</i> pour ses illustrations, &agrave; Nathalie de <i>l'Atelier de Nora</i> et Jean Michel Meyre pour leurs photos, &agrave; Martine Prouhet pour son soutien et &agrave; toute l'&eacute;quipe de la <i>M270</i> et du <i>Groupe Relais Habitants</i> pour leur accueil !</p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/stageDecembreM270/20161220_162307.jpg') }}">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/stageDecembreM270/IMG_2066.jpg') }}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/stageDecembreM270/20161222_170415.jpg') }}">
                    </div>
                </div>
            </div>

            <div class="page-header" id="noeladec">
                <p style="font-size: larger"><strong><i>17 D&eacute;cembre 2016</i></strong></p>
                <p>L'association <i>ADEC</i> et le <i>Secours Populaire</i>, soutenus par la Ville de Floirac, <i>O2 Radio</i>, <i>Syrie Sans Fronti&egrave;re</i>, La <i>Rock School Barbay</i> et <i>Arteli</i> s'associent pour offrir aux enfants le plus beau des No&euml;l !</p>
                    <p><i>Arteli</i> a propos&eacute; aux familles et aux enfants pr&eacute;sents un atelier artistique, ludique et convivial.</p>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/adec_noel2016.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/adec_noel2016_2.jpg') }}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/adec_noel2016_3.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="page-header" id="stage">
                <p style="font-size: larger"><strong><i>20 au 23 D&eacute;cembre 2016</i></strong></p>
                <p> Stage d'arts plastiques &agrave; la M270 (Premi&egrave;re semaine des vacances de No&euml;l).<br> R&eacute;alisation de d&eacute;cors pour animer le hall de la <i>Maison des savoirs partag&eacute;s / M270</i> de Floirac.</p>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/Stage_Arteli_M270_Vacances_Noel_2016.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="page-header">
                <p style="font-size: larger"><strong><i>22 Octobre 2016</i></strong></p>
                <p>Jeu de piste organis&eacute; par le Conseil de Quartier des &Eacute;tangs &agrave; Floirac.
                    Les habitants &eacute;taient nombreux ! 10 &eacute;quipes de 4 &agrave; 8 personnes ont particip&eacute;
                    au jeu.
                    L'&eacute;nigme bleue &agrave; amen&eacute; les joueur &agrave; Arteli o&ugrave; a &eacute;t&eacute;
                    co-r&eacute;alis&eacute; une sculpture ludique &agrave; partir de mat&eacute;riaux de r&eacute;cup&eacute;ration
                    et de d&eacute;chets. </p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <img src="{{ asset('img/projets/actualites/jeu2piste/IMGP1920.JPG') }}"
                             class="img-responsive img-rounded center-block imgmarginbottom pop">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="{{ asset('img/projets/actualites/jeu2piste/1.jpg') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="{{ asset('img/projets/actualites/jeu2piste/IMGP1908.JPG') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="{{ asset('img/projets/actualites/jeu2piste/IMGP1911.JPG') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                                <img src="{{ asset('img/projets/actualites/jeu2piste/IMGP1913.JPG') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="{{ asset('img/projets/actualites/jeu2piste/affiche.jpg') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                        </div>
                        {#<div class="row">#}
                            {#<div class="col-lg-6 col-md-6 col-sm-6">#}
                                {#<img src="{{ asset('img/projets/actualites/jeu2piste/IMGP1913.JPG') }}"#}
                                             {#class="img-responsive img-rounded center-block imgmarginbottom pop">#}
                            {#</div>#}
                            {#<div class="col-lg-6 col-md-6 col-sm-6">#}
                                {#<img src="{{ asset('img/projets/actualites/jeu2piste/affiche.jpg') }}"#}
                                         {#class="img-responsive img-rounded center-block imgmarginbottom pop">#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
                </div>
                <div class="page-header">
                    <p>C'est avec plaisir que les enfants de l'<i>Atelier d'Arteli</i> ont cr&eacute;&eacute; une carte
                        et sa pochette pour les habitants et les &eacute;lus de Di&eacute;bougou, ville du Burkina Faso
                        jumel&eacute;e avec Floirac. La carte a &eacute;t&eacute; remise au Maire de Di&eacute;bougou d&eacute;but
                        octobre 2016 lors du d&eacute;placement d'une d&eacute;l&eacute;gation officielle de la Mairie
                        de Floirac au Burkina Faso. </p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/Diebougou/IMGP1844.JPG') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/Diebougou/IMGP1845.JPG') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/Diebougou/IMGP1849.JPG') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                    </div>
                </div>
                <div class="page-header">
                    <p style="font-size: larger"><strong><i>24 Septembre 2016</i></strong></p>
                    <p>Journ&eacute;e r&eacute;cr&eacute;ative organis&eacute; par le Conseil de Quartier des Plateaux
                        au ch&acirc;teau de la burthe le 24 septembre 2016. <i>Arteli</i> a propos&eacute; aux habitants
                        de cr&eacute;er un d&eacute;cors sur un arbre avec des mobiles constitu&eacute;s d'&eacute;l&eacute;ments
                        naturels et de r&eacute;cup&eacute;ration d'objets du quotidien.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="{{ asset('img/projets/realisation/burtheJourneRecreative/burthe4.jpg') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row">
                                <img src="{{ asset('img/projets/realisation/burtheJourneRecreative/burthe2.jpg') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                            <div class="row">
                                <img src="{{ asset('img/projets/realisation/burtheJourneRecreative/burthe1.jpg') }}"
                                     class="img-responsive img-rounded center-block imgmarginbottom pop">
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="juillet">Juillet / Ao&ucirc;t / Septembre 2016 </h4>
                <div class="page-header">
                    <p class="espacement" style="font-size: larger" id="planete"><strong><i>03 septembre
                                2016</i></strong></p>
                    <p> Une plan&egrave;te originale, singuli&egrave;re et artistique a &eacute;t&eacute; con&ccedil;ue
                        tout au long de la manifestation par les personnes pr&eacute;sentes.</p>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="{{ asset('img/projets/actualites/actualiteponctuel3.jpg') }}" alt="exemple"
                                 class="img-responsive img-rounded center-block pop imgmarginbottom">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <img src="{{ asset('img/projets/actualites/actualiteponctuel4.jpg') }}" alt="exemple"
                                 class="img-responsive img-rounded center-block thumbnail-neg pop">
                        </div>
                    </div>
                    <p><a class="btn btn-info"
                          href="{{ path("arteli_download",{'dlfile':'dossierPressePlanete.pdf'}) }}">T&eacute;l&eacute;charger
                            le dossier de presse</a></p>
                    <p style="font-size: larger"><strong><i>2 juillet 2016</i></strong></p>
                    <p>
                        <i>Arteli</i> s'associe &agrave; la ville de Floirac pour un projet artistique sur le th&egrave;me
                        du "vivre ensemble" intitul&eacute; <i>Paroles d'Habitants</i> lors de la journ&eacute;e festive
                        <i>L'&eacute;tang en F&ecirc;te</i>.
                    </p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel1633.jpg') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel165318.jpg') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel1638.jpg') }}"
                                 class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                    </div>


                </div>
                <h4 id="avril">Avril / Mai / Juin 2016 </h4>
                <div class="page-header">

                    <p style="font-size: larger"><strong><i>22 mai 2016</i></strong>
                    <p class="espacement">Dans le cadre du Vide Grenier organis&eacute; par le <i>Groupe Relais
                            Habitants</i> sur l'Esplanade des Libert&eacute; &agrave; Floirac, nous avons offert aux
                        habitants de la commune un atelier de customisation de meubles. </p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="{{ asset('img/projets/actualites/actualiteponctuel1.jpg') }}" alt="exemple"
                                 class="img-responsive img-rounded center-block pop imgmarginbottom">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <img src="{{ asset('img/projets/actualites/actualiteponctuel2.jpg') }}" alt="exemple"
                                 class="img-responsive img-rounded center-block thumbnail-neg pop">
                            <p class="text-center">
                                <small><i>Atelier de customisation de meubles devant la M 270.</i></small>
                            </p>
                        </div>
                    </div>
                </div>



            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}