{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }} ACTUALITES{% endblock %}
    {% block imgheader %}
        <div class="row">
            {% image 'img/arteli1.jpg' %}
            <img src="{{ asset_url }}" alt="Example"  class="img-responsive" style="margin-top: -20px;"/>
            {% endimage %}
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <h4 id="janvier2017">Janvier / F&eacute;vrier / Mars 2017</h4>
                <div class="page-header">
                    <p style="front-size:larger"><strong>Tressages</strong></p>
                    <p>r&eacute;alisations de tressages &agrave; partir de motifs floraux cr&eacute;&eacute;s par les enfants &acirc;g&eacute;es de 6 &agrave; 10 ans &agrave; <i>L'Atelier d'Arteli</i></p>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170211_112335_resized.jpg') }}">
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170218_114627.jpg') }}">
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/IMGP2570.JPG') }}">
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170325_120043.jpg') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170218_120658.jpg') }}">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170327_100345.jpg') }}">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/FB_IMG_1490555226118.jpg') }}">
                        </div>
                    </div>
                </div>
                <div class="page-header" id="tdedieu">
                    <p style="front-size:larger"><strong>A la d&eacute;couverte de Thierry DEDIEU</strong></p>
                    <p><u>Exposition visible &agrave; la m&eacute;diath&egrave;que de la M270 de Floirac du 7 Mars au 1er Juin 2017 </u></p>
                    <p>Projet soutenu par la Ville de Floirac</p>
                    <p><i>Arteli</i> s'est associ&eacute; &agrave; la m&eacute;diath&egrave;que de Floirac pour proposer de mars &agrave; mai 2017 une installation visuelle, sonore et lumineuse c&eacute;l&eacute;brant la venue en mars 2017 de l'auteur / illustrateur jeunesse Thierry DEDIEU.</p>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tdedieu/IMGP2505.JPG') }}">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tdedieu/AfficheExposition7_18mars.jpg') }}">
                        </div>
                    </div>
                    <p class="text-center"> <i>Arteli</i> remercie la M270 et <i>La Rock School Barbey</i></p>
                </div>
                <div class="page-header">
                    <p style="font-size: larger"><strong>Fresque sur le th&egrave;me de la campagne r&eacute;alis&eacute;e par les enfants de <i>L'Atelier d'Arteli</i></strong></p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/campagne/20170123_154721.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom" style="min-height: 250px;">
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/campagne/20170123_154749.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom" style="min-height: 250px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/campagne/IMGP2460.JPG') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom" style="min-height: 250px;">
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/campagne/IMGP2461.JPG') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom" style="min-height: 250px;">
                        </div>
                    </div>
                </div>
                <h4 id="octobre">Octobre / Novembre / D&eacute;cembre 2016 </h4>
                <div class="page-header">
                    <p style="font-size: larger"><strong><i>Hom'Age au F&eacute;minin et au Masculin</i></strong></p>
                    <p>
                        <i>Arteli</i> s'associe &agrave; l'association A.L.I.F.S. pour d&eacute;velopper aupr&egrave;s des seniors, usagers de l'espace migrants &acirc;g&eacute;s <i>Hom'Age</i> un projet d'arts plastiques de mars &agrave; d&eacute;cembre 2016. Ce projet interroge les repr&eacute;sentations du corps chez les personnes &acirc;g&eacute;es issues de l'immigration.</p>
                    <p>
                        Nous proposons aux personnes &acirc;g&eacute;es de concevoir, en volume et &agrave; taille humaine, deux silhouettes repr&eacute;sentant un homme et une femme. Afin de favoriser la parole des anciens et la production collective, de valoriser les individus et les cultures et de soutenir la r&eacute;alisation artistique de productions originales, ces deux silhouettes sont issues de l'imaginaire des personnes &acirc;g&eacute;es et construites dans le respect de la parole et des envies des seniors.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/actualite1.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom">
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/realisation/alifs/3.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop" style="max-height: 269px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ asset('img/projets/actualites/20161124_153722.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop imgmarginbottom" style="max-height: 269px;">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ asset('img/projets/actualites/20161215_144615.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop" style="max-height: 269px;">
                        </div>

                        <div class="col-md-4">
                            <img src="{{ asset('img/projets/actualites/20161215_145649.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop" style="max-height: 269px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/20161215_144841.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop" style="max-height: 269px;">
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('img/projets/actualites/20161215_141729.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop">
                        </div>
                    </div>
                </div>

                <div class="page-header">
                    <p style="font-size: larger"><strong>De Septembre &agrave; Novembre 2016</strong></p>
                    <p>
                        Dans les cadre des Temps d'Activit&eacute;s  P&eacute;riscolaires, les enfants de l'&eacute;cole maternelle Pierre et Marie Curie de Floirac ont r&eacute;alis&eacute; un arbre en mosa&iuml;ques color&eacute; et ludique.</p>
                        <p>Les enfants ont pu explorer pour ce projet les techniques du collage, du d&eacute;coupage et du coloriage et se sont amus&eacute;s &agrave; assembler les mati&egrave;res, les textures, les couleurs et les petits objets issus du quotidien.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <img style="max-height: 317px;" class="img-responsive img-rounded imgmarginbottom pop" src="{{ asset('img/projets/actualites/TAP/20161121_140653.jpg') }}">
                        </div>
                        <div class="col-md-4">
                            <img style="max-height: 317px;" class="img-responsive img-rounded imgmarginbottom pop" src="{{ asset('img/projets/actualites/TAP/20161121_140732.jpg') }}">
                        </div>
                        <div class="col-md-4">
                            <img style="max-height: 317px;" class="img-responsive img-rounded imgmarginbottom pop" src="{{ asset('img/projets/actualites/TAP/20161121_140739.jpg') }}">
                        </div>
                    </div>
                </div>
                {#<div class="page-header">#}
                    {#<p style="font-size: larger"><strong>Invitation de Thierry DEDIEU &agrave; la m&eacute;diath&egrave;que de Floirac</i></strong></p>#}
                    {#<p><i>Arteli</i> s'associe &agrave; la m&eacute;diath&egrave;que de Floirac et &agrave; deux &eacute;coles &eacute;l&eacute;mentaires de la commune de Floirac pour f&ecirc;ter en mars 2017 la venue de l'auteur illustrateur Thierry DEDIEU. Pour cela les adh&eacute;rents de l'<i>Atelier d'Arteli</i> cr&eacute;ent une installation po&eacute;tique, artistique, lumineuse et sonore.</p>#}
                    {#<div class="row">#}
                        {#<div class="col-md-6">#}
                            {#<img src="{{ asset('img/projets/actualites/tdedieu/IMGP2371.JPG') }}" class="img-responsive img-rounded imgmarginbottom pop">#}
                        {#</div>#}
                        {#<div class="col-md-12" >#}
                            {#<img src="{{ asset('img/projets/actualites/tdedieu/IMGP2372.JPG') }}" style="max-height:500px" class="img-responsive img-rounded imgmarginbottom pop center-block">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                <h4 id="juillet">Juillet / Ao&ucirc;t / Septembre 2016 </h4>
                <div class="page-header">
                    <p style="font-size: larger"><strong>Projet <i>Entraide et solidarit&eacute;</i></strong></p>
                    <p>
                        Actions r&eacute;alis&eacute;es en partenariat avec <i>L'Espace Social et Culturel du Haut Floirac</i>, <i>Aquitanis</i>, la CAF, <i>l'Espace Famille</i>, Le Conseil D&eacute;partemental, la Mairie de Floirac, l'AJHaG, les habitants des r&eacute;sidences Blaise Pascal Corneille et soutenues par la Fondation Abb&eacute; Pierre.&
                        Mai / septembre 2016.
                    </p>
                    <p>L'association <i>Arteli</i> s'associe aux partenaires institutionnels, aux acteurs locaux, aux structures associatives et aux habitants pour impulser sur le quartier <i>Dravemont</i> de Floirac un projet artistique et collaboratif.</p>
                    <p>
                        Une r&eacute;flexion est ici men&eacute;e sur la notion de territoire, du "vivre ensemble" et de la coh&eacute;sion sociale avec les enjeux de favoriser l'expression et la d&eacute;marche participative, de valoriser les individus et de f&eacute;d&eacute;rer du lien.
                    </p>
                    <p>
                        Les ateliers artistiques seront men&eacute;s avec les habitants des r&eacute;sidences en juin et juillet 2016.
                    </p>
                    <p>Pour les d&eacute;tails de l'action veuillez vous r&eacute;f&eacute;rer &agrave; la rubrique <a href="{{ path('arteli_switch', {'switch': 'fresque'}) }}#solidarite">Projets</a></p>
                </div>

                <h4 id="avril">Avril / mai / Juin 2016</h4>
                <div class="page-header">
                    <p style="font-size: larger"><i><strong>Escale au Japon</strong></i></p>
                    <p>
                        L'association <i>Arteli</i> s'associe &agrave; <i>l'&eacute;cole Henry IV</i> et &agrave; <i>l'association ALIFS</i> en mai 2016 pour accompagner les enfants de la classe CLIN &agrave; r&eacute;aliser des productions artistiques originales en lien avec leurs ha&iuml;kus produits lors d'ateliers d'&eacute;criture.
                    </p>
                    <p>
                        Afin de valoriser le travail d'&eacute;criture, de promouvoir la d&eacute;couverte de nouvelles cultures artistiques et de favoriser la coh&eacute;rence du projet, <i>Arteli</i> a propos&eacute; aux enfants un projet dont les techniques plastiques et graphiques &eacute;voquent les estampes japonaise et les Hanko (sceau japonais).
                    </p>
                    <img src="{{ asset('img/projets/actualites/actualite3.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block imgmarginbottom pop">
                    <p>
                        Pour les d&eacute;tails de l'action veuillez vous r&eacute;f&eacute;rer &agrave; la rubrique <a href="{{ path('arteli_switch', {'switch': 'mosaique'}) }}#japon">Projets</a>
                    </p>

                    <p>R&eacute;alisations expos&eacute;es &agrave; la Halle des Douves le 31 mai 2016 dans le cadre de la restitution du projet <span class="text-nowrap"> <i>Histoire de nos Ailleurs</i>.</span>
                    </p>
                    <img src="{{ asset('img/projets/actualites/actualite4.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop">
                </div>
                <div class="page-header">
                    <p style="font-size: larger"><strong><i>Projet de soutien &agrave; la parentalit&eacute; </i></strong></p>
                    <p>
                        Action impuls&eacute;e aupr&egrave;s des familles de <i>l'Espace Social et Culturel du Haut Floirac</i> en mai 2016.</p>
                    <p>L'association <i>Arteli</i> et <i>l'espace Social et Culturel</i> ont souhait&eacute; s'associer pour d&eacute;velopper un projet questionnant l'identit&eacute; de la famille et les liens existant entre les membres d'un m&ecirc;me foyer.
                    </p>
                    <img src="{{ asset('img/projets/actualites/actualite2.jpg') }}" alt="exemple" class="img-responsive img-rounded center-block pop">
                    <p class="espacement">
                        Pour les d&eacute;tails de l'action veuillez vous r&eacute;f&eacute;rer &agrave; la rubrique <a href="{{ path('arteli_switch', {'switch': 'mosaique'}) }}#parentalite">Projets</a>
                    </p>
                </div>
                <div class="page-header">

                    <p style="font-size: larger"><strong><i>De L'individu au Groupe : Les Liens Fraternels</i></strong>
                    <p>
                        Projet r&eacute;alis&eacute; de f&eacute;vrier &agrave; avril 2016 au <i>Centre de Loisirs de Floirac</i> et soutenu par la Ville de Floirac.</p>
                    <p>
                        Pour les d&eacute;tails de l'action veuillez vous r&eacute;f&eacute;rer &agrave; la rubrique <a href="{{ path('arteli_switch', {'switch': 'fresque'}) }}#fresque">Projets</a>
                    </p>
                    <p class="espacement">
                        Fresque expos&eacute;e &agrave; la <i>M270 de Floirac</i> en mai / juin 2016 et pr&eacute;sent&eacute;e lors de la journ&eacute;e festive <i>L'Etang en F&ecirc;te</i> le 02 juillet 2016.
                    </p>
                </div>






            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}