{% extends 'ArteliBundle:Default:base.html.twig' %}
{% set articles =
    {'Article Sud Ouest la tour fraternité (16/07/2019)':'Sud_Ouest_du_16_juillet_2019.jpg',
        'Article Sud Ouest exposition M270 (04/07/2019)':'Sud_Ouest_du_4_juillet_2019.jpg',
        'Article Sud Ouest fresque Nelson Mandela (27/06/2019)':'Sud_Ouest_du_27_juin_2019.jpg',
        'Article Sud Ouest fresque J.J Bosc (Septembre 2018)':'SO_fresque_septembre_2018.jpg',
        'Article Sud Ouest fresque J.J Bosc (Mai 2018)':'SO_fresque__mai_2018.jpg',
        'Article Sud Ouest camaïeux de mosaïques M270 (Décembre 2017)':'SO_fresque__mai_2018.jpg',
        'Floirac Mag article camaïeux de mosaïques (Décembre 2017)':'floirac_mag_dec-jan_.jpg',
        'Floirac Mag article Pont J.J Bosq Août 2017':'magFloiracAout2017.jpg',
        'Floirac Mag article atelier d\'Arteli Mai 2017':'article_Atelier_arteli_floirac_mag_mai_2017POUR_WEB.jpg',
        'Bordeaux tendances inauguration fresque J.J Bosc (2017)':'tendancesJuillet2017.pdf',
        'Article Sud Ouest exposition atelier d\'Arteli Juin 2017':'expo_atelier_arteli_SO_juin_2018.jpg',
        'Article Sud Ouest fresque J.J Bosc (22/07/2017)':'sudOuest22Juillet.jpg',
        'Article Moniteur.fr fresque J.J Bosc (Juillet 2017)':'moniteurJuillet2017.pdf',
        'Article Sud Ouest exportion M270 (26/06/2017)':'sud_ouest-expo_atelier_arteli_26_juin_2017.jpg',
        'Article Sud Ouest fresque J.J Bosc (06/06/2017)':'articleSudouest6juin2017.pdf',
        'Article Sud Ouest fresque J.J Bosc (09/05/2017)':'sudOuest9mai.jpg',
        'Article Sud Ouest fresque J.J Bosc (07/05/2017)':'SudOuest7avril2017.jpg',
        'Article Sud Ouest exposition T. Dedieu (Mars 2017)':'expo_atelier_arteli_SO_juin_2018.jpg',
        'Article Sud Ouest fresque J.J Bosc (18/03/2017)':'SudOuest18mars2017.jpg',
        'Article Sud Ouest fresque J.J Bosc (02/02/2017)':'articleSudOuest022017.jpg',
        'Dossier presse Planète 2016':'dossierPressePlanete.pdf',
    } %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-ENTREPRISES.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
<div class="row text-justify">
    <div class="row main">
        <div class="col-md-8">
            <div class="accordion" id="accordionExample">
                {% for label,dlfile in articles %}
                    <div class="card">
                        <div class="card-header text-center" id="headingOne{{ loop.index }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseOne{{ loop.index }}" aria-expanded="true"
                                        aria-controls="collapseOne{{ loop.index }}">
                                    {{ label }}
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne{{ loop.index }}" class="collapse"
                             aria-labelledby="headingOne{{ loop.index }}" data-parent="#accordionExample">
                            <div class="card-body text-center">
                                {% if 'pdf' in dlfile %}
                                    <a href="{{ path('arteli_download', {'dlfile': dlfile}) }}" title="Télécharger"><img src="{{ asset('img/download-as-pdf.png') }}"></a>
                                {% else %}
                                    <a href="{{ path('arteli_download', {'dlfile': dlfile}) }}" title="Télécharger"><img src="{{ asset('img/download/'~dlfile) }}" class="card-img-top" width="70%"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
    {% endblock %}
