{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}L'ATELIER{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-ATELIER.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}

    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4 id="presentation">Pr&eacute;sentation</h4>
                    <p>
                        L'association <i>Arteli</i> d&eacute;veloppe des projets en arts plastiques, port&eacute;s par des professionnels, avec pour objectifs de favoriser l'expression, de f&eacute;d&eacute;rer les personnes et de cr&eacute;er du lien entre les structures de la ville de Floirac et de la M&eacute;tropole.
                    </p>
                    <p>
                        <i>Arteli</i> a ouvert en septembre 2016, au 1er &eacute;tage du b&acirc;timent des anciens "Bains Douches" (derri&egrave;re la <i>M270</i>), <i>L'Atelier d'Arteli</i>, espace accueillant et chaleureux o&ugrave; sont propos&eacute;s des ateliers d'arts plastiques.
                    </p>
                    <p>
                        <i>L'Atelier d'Arteli</i> est un lieu de vie, un espace ouvert o&ugrave; les projets artistiques sont men&eacute;s en concertation avec les adh&eacute;rents, dans le respect des souhaits de chacun. Les ateliers d'arts plastiques sont ouverts &agrave; tous (enfants et adultes).
                    </p>
                    <p>
                        Des stages th&eacute;matiques, individuels ou familiaux sont propos&eacute;s sur <i>L'Atelier</i> pendant les vacances scolaires.
                    </p>
                </div>
                    <div class="page-header">
                        <h4 id="amenagement">Am&eacute;nagement de <i>L'Atelier</i></h4>
                        <p>Premi&egrave;res visites de notre local en mars 2016.
                            Apr&egrave;s 3 mois de travaux et d'am&eacute;nagement, <i>L'Atelier d'Arteli</i> a ouvert en septembre 2016 !</p>
                        <p class="espacement">
                            Une &eacute;quipe de volontaires et l'association <i>Action Peinture</i> ont soutenu les travaux n&eacute;cessaires &agrave; l'am&eacute;nagement de notre local.
                        </p>

                        {% set diapo = random() %}
                        {% set vars = [ 'img/lieu/lieu3_1.jpg', 'img/lieu/lieu3_2.jpg'] %}
                        {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                        {% set vars = [ 'img/lieu/lieu4_2.jpg', 'img/lieu/lieu4_3.jpg', 'img/lieu/lieu5_1.jpg', 'img/lieu/lieu5_2.jpg'] %}
                        {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait4x4' } %}



                        {% set vars = [ 'img/lieu/lieu7_1.jpg', 'img/lieu/lieu7_2.jpg'] %}
                        {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}


                        {% set vars = [ 'img/lieu/lieu8_1.jpg', 'img/lieu/lieu8_2.jpg'] %}
                        {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                        {% set vars = [ 'img/lieu/lieu3_1.jpg', 'img/lieu/lieu3_2.jpg','img/lieu/lieu4_2.jpg', 'img/lieu/lieu4_3.jpg', 'img/lieu/lieu5_1.jpg', 'img/lieu/lieu5_2.jpg','img/lieu/lieu7_1.jpg', 'img/lieu/lieu7_2.jpg','img/lieu/lieu8_1.jpg', 'img/lieu/lieu8_2.jpg'] %}
                        {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    </div>
                    <div class="page-header">
                        <h4 id="adhesion">Adh&eacute;sions</h4>
                        <p>
                            L'adh&eacute;sion &agrave; l'association <i>Arteli</i> permet l'acc&egrave;s &agrave; <i>L'Atelier</i>. Elle peut &ecirc;tre individuelle ou familiale (parents / grands-parents / enfants). Elle est valable un an et renouvelable &agrave; sa date d'anniversaire.
                        </p>
                        <h4>Tarifs annuelle obligatoire</h4>
                        <p><table class="table table-bordered table-hover text-justify">
                            <tr>
                                <td style="width: 70%;">Adh&eacute;sion individuelle </td>
                                <td class="text-center">8 &euro;uros / ann&eacute;e </td>
                            </tr>
                            <tr>
                                <td>Adh&eacute;sion familiale</td>
                                <td class="text-center">12 &euro;uros / ann&eacute;e</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                    <div class="page-header">
                        <h4 id="horaire">Horaires d'ouverture </h4>
                        <p>Horaires d'ouverture de <i>L'Atelier d'Arteli</i> au public :</p>
                        <ul>
                            <li>Le mardi de 10h &agrave; 12h et de 18h &agrave; 20h</li>
                            <li>Le mercredi de 10h30 &agrave; 12h et de 16h &agrave; 19h</li>
                            <li>Le jeudi de 17h &agrave; 18h30</li>
                            <li>Le vendredi de 10h &agrave; 12h et de 17h &agrave; 18h30</li>
                        </ul>
                        <p>(horaires valables du 1er octobre au 30 juin hors p&eacute;riodes de vacances scolaires)</p>
                    </div>
                    <div class="page-header">
                        <h4 id="atelier">Les ateliers d'arts plastiques </h4>
                        <p>Les ateliers sont hebdomadaires. Ils sont propos&eacute;s sur des cr&eacute;neaux horaires fixes et sur les p&eacute;riodes scolaires. </p>
                        <p>L'inscription aux ateliers d'arts plastiques est annuelle.</p>
                        <p>Il vous sera demand&eacute; d'adh&eacute;rer &agrave; l'association pour valider une inscription aux ateliers</p>
                        <p>Afin de proposer des ateliers qualitatifs, les enfants de 4/6 ans seront au maximum 7 par atelier, les enfants de 7/10 ans 10 par atelier et les adultes 6 par atelier. </p>
                        <img src="{{ asset('img/atelier/IMGP1861.JPG') }}" class="img-rounded img-responsive pop">

                    </div>
                    <div class="page-header">
                        <h4 id="jouratelier">Jours et horaires des ateliers d'arts palastiques :</h4>
                        <p><table  class="table table-bordered text-justify table-hover text-nowrap" >
                            <tr style="color: #1b6d85;">
                                <td class="text-center">Age ou Groupe</td>
                                <td class="text-center">Jour</td>
                                <td class="text-center">Horaires</td>
                                <td class="text-center">Informations compl&eacute;mentaires</td>
                            </tr>
                            <tr>
                                <td><strong>4 / 6 ans</strong></td>
                                <td>Mercredi</td>
                                <td>16h / 17h</td>
                                <td>Go&ucirc;ter offert et partag&eacute;</td>
                            </tr>
                            <tr>
                                <td><strong>7 / 10 ans</strong></td>
                                <td>Mercredi</td>
                                <td>10h30 / 12h</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>7 / 10 ans</strong></td>
                                <td>Jeudi</td>
                                <td>17h / 18h30</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>7 / 10 ans</strong></td>
                                <td>Vendredi</td>
                                <td>17h / 18h30</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>11 / 15 ans</strong></td>
                                <td>Mercredi</td>
                                <td>17h30 / 19h</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Adultes (+ de 15 ans)</strong></td>
                                <td>Mardi</td>
                                <td>10h / 12h</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Adultes (+ de 15 ans)</strong></td>
                                <td>Mardi</td>
                                <td>18h / 20h</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Adultes (+ de 15 ans)</strong></td>
                                <td>Vendredi</td>
                                <td>10h / 12h</td>
                                <td></td>
                            </tr>
                        </table>
                        </p>
                        <p>
                            Les enfants de moins de 8 ans doivent &ecirc;tre obligatoirement accompagn&eacute;s par un adulte.</p>
                        <p>Un espace de d&eacute;tente est mis &agrave; la disposition des adultes souhaitant rester au local pendant les ateliers de leur(s) enfant(s).
                        </p>
                        <img src="{{ asset('img/atelier/IMGP1852.JPG') }}" class="img-rounded img-responsive pop center-block"  style="max-height: 377px;">
                    </div>
                    <div class="page-header">
                        <h4 id="tarif">Tarifs des ateliers d'arts platisques</h4>
                        <p>Afin de faciliter l'acc&egrave;s &agrave; nos ateliers &agrave; tous les habitants de la commune, nous avons choisis de mettre en place deux tarifications :</p>
                        <p><table class="table table-bordered table-hover text-justify" style="width: 100%;">
                            <thead>
                                <th></th>
                                <th>1H D'ATELIER</th>
                                <th>1H30 D'ATELIER</th>
                                <th>2H D'ATELIER</th>
                            </thead>
                            <tr>
                                <td>Foyers dont le quotient familial est inf&eacute;rieur &agrave; 600 &euro; <br><strong>(pr&eacute;sentation obligatoire d'un justificatif lors de l'inscription)</strong></td>
                                <td class="text-center">105 &euro;</td>
                                <td class="text-center">160 &euro;</td>
                                <td class="text-center">210 &euro;</td>
                            </tr>
                            <tr>
                                <td> Foyers dont le quotient familial est sup&eacute;rieur &agrave; 600 &euro;</td>
                                <td class="text-center">150 &euro;</td>
                                <td class="text-center">230 &euro;</td>
                                <td class="text-center">300 &euro;</td>
                            </tr>
                        </table></p>
                        <p><u>Le r&egrave;glement des ateliers se fera lors du premier atelier de l'ann&eacute;e en une fois, trois fois ou 10 fois (d'octobre &agrave; juillet).</u> </p>
                        <p>Merci de noter au dos des ch&egrave;ques la date souhait&eacute;e pour les encaissements</p>
                    </div>
                    <div class="page-header">
                        <h4 id="stage">Stages : </h4>
                        <p>Des ateliers d'arts plastiques sous forme de stages sont propos&eacute;s pendant les vacances scolaires (stages individuels, parents/enfants, grands-parents/enfants).</p>
                        <p>
                            La tarification des stages sera d&eacute;finie en fonction de la dur&eacute;e du stage et des techniques artistiques abord&eacute;es.
                        </p>
                        <img class="img-responsive img-rounded center-block pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/stageDecembreM270/IMG_2066.jpg') }}">
                        <p class="text-center"><i>Stage Arteli, 20 au 23 d&eacute;cembre 2016, M270, Floirac</i></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'Stage_Arteli_M270_Vacances_Noel_2016.jpg'}) }}">T&eacute;l&eacute;charger l'affiche du stage de no&euml;l</a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'Stage_Atelier_Arteli_Toussaint2016.jpg'}) }}">T&eacute;l&eacute;charger l'affiche du stage de la Toussaint 2016</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'Stage_arteli_23_27octobre2017.jpg'}) }}">T&eacute;l&eacute;charger l'affiche du stage de la toussaint 2017</a></p>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                    </div>
                    <div class="page-header">
                        <h4 id="reglement">R&egrave;glement Int&eacute;rieur </h4>
                        <p>Toute personne adh&eacute;rente &agrave; <i>L'Atelier d'Arteli</i> devra obligatoirement prendre connaissance et respecter le r&egrave;glement int&eacute;rieur de <i>L'Atelier</i>. </p>
                        <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'reglement_interieur_atelier_arteli.pdf'}) }}">T&eacute;l&eacute;charger le R&egrave;glement int&eacute;rieur</a></p>
                    </div>

                    <div class="page-header">
                        <p><strong>Par mail : </strong>arteli.association@gmail.com</p>
                        <p><strong>Par T&eacute;l&eacute;phone: </strong>06 63 78 48 26</p>
                        <p><strong>Sur notre site : </strong>http://arteli-association.fr </p>
                    </div>
                    <div class="page-header">
                        <h4 id="contact">Nous rencontrer :</h4>
                        <p><i>L'Atelier d'Arteli</i></p>
                        <p>5 avenue Pierre Curie</p>
                        <p>1er &eacute;tage</p>
                        <p>33270 FLOIRAC </p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <img src="{{ asset('img/lieu/lieu6_1.jpg') }}" alt="exemple" class="img-responsive img-rounded pop imgmarginbottom">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <img src="{{ asset('img/lieu/lieu6_2.jpg') }}" alt="exemple" class="img-responsive img-rounded pop">
                            </div>
                        </div>
                    </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}