{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-ENTREPRISES.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header" id="entreprise_presentation">
                    <h4>Présentation</h4>
                    <p>Arteli s'associe aux acteurs du domaine privé pour réaliser des actions artistiques participatives et collaboratives.
                        Ces projets peuvent répondre à une commande et être réalisés par notre association ou être construits lors d'ateliers réunissant les collaborateurs des sociétés.</p>
                    <h4 id="entreprise">Interventions en entreprises</h4>
                    <p><i>Arteli</i> accompagne également les entreprises privées souhaitant offrir à leurs équipes un temps créatif et convivial.</p>

                    <p><strong>Objectifs :</strong></p>
                    <p>
                        <ol><li><strong>Pour l'entreprise</strong></li>
                    <p><ul>
                        <li>Favoriser la cohésion de groupe et le projet collaboratif</li>
                        <li>Favoriser le bien-être des salariés</li>
                        <li>Renforcer le sentiment d’appartenance des salariés à l’entreprise</li>
                        <li>Valoriser les locaux (intervention d’une artiste professionnelle)</li>
                        <li>Valoriser l’entreprise et son image (logo)</li>
                    </ul>
                    </p>

                    <li><strong>Pour le salarié</strong></li>
                    <ul>
                        <li>Renforcer l’estime de soi</li>
                        <li>Valorisation au sein de l’entreprise et du groupe (travail collaboratif et participatif)</li>
                        <li>Favoriser le sentiment d’appartenance</li>
                    </ul>
                    </ol>
                    <p>Nous pouvons accompagner les salariés à réaliser un projet ponctuel d’une demi-journée ou d’une journée ou penser une action plus longue avec des interventions hebdomadaires d’un ou plusieurs mois.</p>
                    <p>L’association Arteli peut recevoir des dons privés (mécénat et sponsor).</p>
                </div>
                <div class="page-header"  id="entreprise_onepoint">
                    <p style="font-size: larger">
                        <strong>
                            <h4>Réalisations d'autoportraits Pop à Onepoint.</h4>
                    <p>Arteli a mené un projet artistiques auprès des collaborateurs de la société Onepoint à Pessac.
                        L'action, visant à réaliser des autoportraits colorés placés sur les parois vitrées de
                        l'entreprise, avait l'objectifs de favoriser la cohésion d'équipe et le bien être, de valoriser
                        l'ensemble des collaborateurs et de renforcer leur sentiment d'appartenance à l'entreprise.</p>
                    <p>Toutes les phases du projet ont été construites en concertation avec les salariés, de sa
                        faisabilité à l’exposition des créations.</p>
                    <p>Les réalisations, exposées dans l'ensemble du bâtiment sont également visibles depuis la rue.
                        Elles donnent à voir les collaborateurs et égayent l'entreprise. </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/onepoint/1.jpg', 'img/projets/realisation/onepoint/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/onepoint/2.jpg', 'img/projets/realisation/onepoint/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/onepoint/6.jpg', 'img/projets/realisation/onepoint/7.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/onepoint/8.jpg', 'img/projets/realisation/onepoint/9.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/onepoint/1.jpg', 'img/projets/realisation/onepoint/4.jpg','img/projets/realisation/onepoint/2.jpg', 'img/projets/realisation/onepoint/3.jpg','img/projets/realisation/onepoint/6.jpg', 'img/projets/realisation/onepoint/7.jpg','img/projets/realisation/onepoint/8.jpg', 'img/projets/realisation/onepoint/9.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
            </div>

            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
