{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }} Installations{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
    <div class="row main">
        <div class="col-md-8">
            <h4>Sans Frontières</h4>
            <div class="page-header">
                <p>Création de panneaux sur différents supports (bois, papier, cartons) pour trois groupes d'adultes inscrits à L'Atelier d'Arteli. Les réalisations évoquent leurs visions personnelles et singulières du Hip Hop. Panneaux exposés à la salle Léo Lagrange de Lormont en février 2019 pour une grande soirée organisée par l'association Aktuel Feeling dans le cadre du festival "Sans Frontières". </p>
                {% set diapo = random() %}
                {% set vars = [ 'img/projets/actualites/sansFrontieres/21.jpg','img/projets/actualites/sansFrontieres/22.jpg','img/projets/actualites/sansFrontieres/24.jpg','img/projets/actualites/sansFrontieres/33.jpg' ] %}
                {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                {% set vars = [ 'img/projets/actualites/sansFrontieres/39.jpg' ] %}
                {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                {% set vars = [ 'img/projets/actualites/sansFrontieres/21.jpg','img/projets/actualites/sansFrontieres/22.jpg','img/projets/actualites/sansFrontieres/24.jpg','img/projets/actualites/sansFrontieres/33.jpg','img/projets/actualites/sansFrontieres/39.jpg'  ] %}
                {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
            </div>
            <h4>A la d&eacute;couverte de Thierry DEDIEU</h4>
            <div class="page-header">
                <p>Projet soutenu par la Ville de Floirac.</p>
                <p><i>Arteli</i> s'est associ&eacute; &agrave; la m&eacute;diath&egrave;que de Floirac pour proposer de mars &agrave; mai 2017 une installation visuelle, sonore et lumineuse c&eacute;l&eacute;brant la venue en mars 2017 de l'auteur / illustrateur jeunesse T. dedieu.</p>
                <p>Un parcours po&eacute;tique, r&eacute;alis&eacute; &agrave; partir de kak&eacute;monos illustrant 5 ouvrages de T. Dedieu relatant l'univers et la culture de la Chine et du Japons a &eacute;t&eacute; cr&eacute;&eacute;.  Des petits pas japonais pos&eacute;s au sol accompagnent les panneaux. De la musique et des sons, des jeux d'ombre et de lumi&egrave;re, des objets et des Hanko (tampon japonais), un cerf volant, un dragon ou encore un kimono compl&egrave;tent l'installation.</p>
                   <p>Le projet a &eacute;t&eacute; r&eacute;alis&eacute; par les adh&eacute;rents de <i>L'Atelier d'Arteli</i>, les &eacute;l&egrave;ves de la classe de C&eacute;line Souleille de l'&eacute;cole &eacute;l&eacute;mentaire Pierre et Marie Curie et les &eacute;l&egrave;ves de la classe d'Aurore Bengold de l'&eacute;cole &eacute;l&eacute;mentaire Pasteur.</p>
                {% set diapo = random() %}
                {% set vars = [ 'img/projets/actualites/tdedieu/025.JPG','img/projets/actualites/tdedieu/IMGP2498.JPG','img/projets/actualites/tdedieu/IMGP2499.JPG' ] %}
                {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                {% set vars = [ 'img/projets/actualites/tdedieu/IMGP2503.JPG','img/projets/actualites/tdedieu/IMGP2505.JPG','img/projets/actualites/tdedieu/IMGP2506.JPG' ] %}
                {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                {% set vars = [ 'img/projets/actualites/tdedieu/025.JPG','img/projets/actualites/tdedieu/IMGP2498.JPG','img/projets/actualites/tdedieu/IMGP2499.JPG','img/projets/actualites/tdedieu/IMGP2503.JPG','img/projets/actualites/tdedieu/IMGP2505.JPG','img/projets/actualites/tdedieu/IMGP2506.JPG'  ] %}
                {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                <p> <i>Arteli</i> remercie la M270 et <i>La Rock School Barbey</i></p>
            </div>
        </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
