{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}LOCALISATION{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-QUI-SOMMES-NOUS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row">
        <div class="row main">
            <div class="col-md-8">
                <iframe class="center-block" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1459519120066!6m8!1m7!1sEexLyIlHR8RLJccWNJd92A!2m2!1d44.83631534414097!2d-0.5308523609076397!3f17.09!4f0!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe  class="center-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1414.636778486003!2d-0.5315359046934457!3d44.83636207429127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55260ec9fdb777%3A0x187fb238ed2ac7fe!2s5+Avenue+Pierre+Curie%2C+33270+Floirac!5e0!3m2!1sfr!2sfr!4v1459519358384" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
