{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-QUI-SOMMES-NOUS.jpg') }}" alt="Example"  class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <strong>L'association <i>Arteli</i>, domiciliée sur la commune de Floirac a pour missions de fédérer les habitants et de créer du lien avec les structure du territoire à travers la réalisation de projet artistiques. Arteli favorise l’émergence d’actions qui œuvrent pour la cohésion sociale et territoriale et favorisent l’accès à la culture et la production artistique pour tous.
                    </strong>

                    <p>&nbsp;</p>
                    <p><strong>Notre association d&eacute;veloppe des projets artistiques, participatifs et collaboratifs sur la commune de Floirac, de Bordeaux et de sa M&eacute;tropole.</strong></p>
                </div>
                <div class="page-header">
                    <h4 id="reglement">Rapport d'activit&eacute;s 2018</h4>
                    <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'ARTELI_RAPPORT_D_ACTIVITES_2018.pdf'}) }}">T&eacute;l&eacute;charger le rapport d'activit&eacute;s 2018</a></p>
                </div>
                <div class="page-header">
                    <h4 id="reglement">Rapport d'activit&eacute;s 2017</h4>
                    <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'RAPPORT_ACTIVITES_2017.pdf'}) }}">T&eacute;l&eacute;charger le rapport d'activit&eacute;s 2017</a></p>
                </div>
                <div class="page-header">
                    <h4 id="reglement">Rapport d'activit&eacute;s 2016</h4>
                    <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'BILAN_ACTIVITES_2016.pdf'}) }}">T&eacute;l&eacute;charger le rapport d'activit&eacute;s 2016</a></p>
                </div>
                <div class="page-header">
                    <h4 id="artpla">Les arts plastiques</h4>
                    <p>L'art et plus particuli&egrave;rement les arts plastiques participent &agrave; la construction de la culture, de la singularit&eacute;
                        et de l'imaginaire. L'utilisation des techniques artistiques et manuelles d&eacute;veloppent l'habilet&eacute; et la ma&icirc;trise du corps tout en favorisant la libert&eacute; d'expression. Les productions en arts plastiques peuvent &ecirc;tre
                        individuelles ou collectives. Elles favorisent le bien &ecirc;tre et valorisent les personnes en leur offrant un espace de communication libre, d&eacute;nu&eacute; de tout jugement. </p>
                </div>
                {#<h4>Des projets artistiques ax&eacute;s sur la question de la singularit&eacute;</h4>#}
                {#<p><strong>Arteli impulsera des projets ax&eacute;s sur les notions de singularit&eacute; et d'identit&eacute; :</strong></p>#}
                <div class="page-header">
                    <h4 id="objectif">Nos objectifs</h4>
                    <p>L'association Arteli d&eacute;veloppe des projets en arts plastiques, port&eacute;s par des professionnels, avec pour missions de f&eacute;d&eacute;rer les personnes par l'expression artistique, valoriser l'individu et plus largement favoriser la mixit&eacute; sociale et culturelle sur notre territoire.</p>

                    {#<p> <i>Arteli</i> d&eacute;veloppe des actions ax&eacute;es sur la notion de singularit&eacute; : </p>#}
                    {#<ul>#}
                        {#<li>La singularit&eacute; de la personne.</li>#}
                        {#<li>La singularit&eacute; d'un groupe d'individu.</li>#}
                        {#<li>La singularit&eacute; d'un territoire, d'un quartier, d'une structure.</li>#}
                    {#</ul>#}
                    <p><strong>Nos objectifs sont : </strong></p>
                    <ul>
                        <li>&OElig;uvrer pour la coh&eacute;sion sociale et territoriale</li>
                        <li>Favoriser l'acc&egrave;s &agrave; la culture pour tous.</li>
                        <li>Soutenir la réalisation artistique et technique de productions originales.</li>
                    </ul>
                    {#<li><strong> / Objectifs artistiques</strong></li>#}
                    {#<ul>#}
                        {#<li>D&eacute;velopper un espace ressource, lieu de vie d&eacute;di&eacute; aux arts plastiques</li>#}
                        {#<li>Impulser les d&eacute;marches interculturelles.</li>#}
                        {#<li>Valoriser l'individu, son identit&eacute;, sa culture.</li>#}
                        {#<li>Soutenir la r&eacute;alisation artistique et technique de productions originales.</li>#}
                    {#</ul>#}
                </div>
                <div class="page-header">
                    <p>
                    <h4 id="territoire">Notre territoire</h4>
                    <p>L'association <i>Arteli</i>, domicili&eacute;e &agrave; Floirac, d&eacute;veloppe des projets artistiques, f&eacute;d&eacute;rateurs de liens, sur ce territoire mais &eacute;galement sur Bordeaux et sa m&eacute;tropole.</p>
                    <p>La commune de Floirac est une agglom&eacute;ration en mouvement, o&ugrave; les actions, d&eacute;j&agrave; existantes et en devenirs sont nombreuses. <i>Arteli</i> a le souhait de s'inscrire dans ce mouvement, en d&eacute;veloppant des actions innovantes qui s'appuieront sur les structures associatives et institutionnelles existantes et cr&eacute;eront des passerelles sur le territoire. </p>
                </div>
                <div class="page-header">
                    <p>
                    <h4 id="gouvernance">Gouvernance</h4>
                    <!-- Table -->
                    <p>&nbsp;</p>
                    <p><strong>Bureau de l'association</strong></p>
                    <table class="table text-left">
                        {#<tr>#}
                        {#<td colspan="4">Bureau</td>#}
                        {#<td>Nom</td>#}
                        {#<td>Profession</td>#}
                        {#<td>Lieu de r&eacute;sidence</td>#}
                        {#</tr>#}
                        <tr>
                            <td width="10%">Pr&eacute;sident</td>
                            <td width="40%">Eric<br>GOYA</td>
                            <td width="30%">Directeur d'agence</td>
                            {#<td>M&eacute;rignac</td>#}
                        </tr>
                        <tr>
                            <td width="10%">Vice-Pr&eacute;sidente</td>
                            <td width="40%">Julie<br>RENAUDIN</td>
                            <td width="30%">Coordinatrice de projets socioculturels</td>
                            {#<td>M&eacute;rignac</td>#}
                        </tr>
                        <tr>
                            <td>Secr&eacute;taire</td>
                            <td>Violaine<br>TALON</td>
                            <td>Professeur agr&eacute;g&eacute;e d'Arts Plastiques</td>
                            {#<td>Libourne</td>#}
                        </tr>
                        <tr>
                            <td>Tr&eacute;sorier</td>
                            <td>Sylvain<br>RIBAILLIER</td>
                            <td>Ing&eacute;nieur Informaticien, Webmaster</td>
                            {#<td>Floirac</td>#}
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <p><strong>Autres membres du Conseil d'Administration</strong></p>
                    <table class="table text-left">
                        <tr>
                            <td width="10%"></td>
                            <td width="40%">Nathalie<br>GENAY</td>
                            <td width="30%">Coordinatrice</td>
                            {#<td>Floirac</td>#}
                        </tr>
                        <tr>
                            <td></td>
                            <td>Marina<br>LE SCIELLOUR</td>
                            <td>Infographiste</td>
                            {#<td>Floirac</td>#}
                        </tr>
                        <tr>
                            <td></td>
                            <td>Béatrice<br>BERTRAND</td>
                            <td>aide soignante</td>
                            {#<td>Floirac</td>#}
                        </tr>
                        <tr>
                            <td></td>
                            <td>Anne Sophie<br>MASSON</td>
                            <td>Chef de projet urbaniste</td>
                            {#<td>Bordeaux</td>#}
                        </tr>
                        <tr>
                            <td></td>
                            <td>Alia<br>ZAOUALI</td>
                            <td>Directrice d'association</td>
                            {#<td>Bordeaux</td>#}
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>

                    </table>
                    <p>&nbsp;</p>
                </div>
                    <div class="page-header">
                        <div class="row">

                        <h4 id="partenaires">Nos partenaires</h4>
                        {#<p><strong>Partenaires institutionnels</strong></p>#}
                            <div class="col-sm-4"><img src="{{ asset('img/partenaires/logo/villeDeFloirac.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                            {#<div class="col-sm-4"><img src="{{ asset('img/partenaires/logo/conseilDepartemental.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            <div class="col-sm-4"><img src="{{ asset('img/partenaires/logo/cget.jpg') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/bordeauxMetropole.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/ministereCulture.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}

                        </div>
                        {#<div class="row">#}
                            {#<p><strong>Partenaires opérationnels</strong></p>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/promoFemme.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/alifs.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/mana.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/ofildujeu.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires//logo/mediathequeFloirac.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/edea.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-2"><img src="{{ asset('img/partenaires/logo/groupeRelaisHabitant.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<p><strong>Partenaires ponctuels</strong></p>#}
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/ministereCulture.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/aquitanis.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/dubreuilh.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                            {#<div class="col-sm-3"><img src="{{ asset('img/partenaires/logo/caparol.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>#}
                        {#</div>#}
                    </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
    <!-- <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            $("#inauguration-modal-content").modal();
        });
     </script> -->

    <div class="modal fade" id="inauguration-modal-content" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Stage d'arts platisques 2020</h4>
                </div>
                <div class="modal-body">
                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <p class="text-center"><span class="label label-info">{{ flashMessage }}</span></p>
                    {% endfor %}

                    <img src="{{ asset('img/download/2021_1Stage_peinture_enfants_4_decembre_2021.jpg') }}" class="img-responsive img-rounded center-block">

                    {#<div class="well-lg">#}

                    {#{{ form_start(formFresque, {'attr': {'class': 'form-horizontal'}}) }}#}
                    {#{{ form_errors(formFresque) }}#}
                    {#<div class="col-sm-6">#}
                        {#{{ form_widget(formFresque.mot,{'attr': {'class': 'form-control'}}) }}#}
                    {#</div>#}
                    {#<div class="col-sm-6">#}
                        {#{{ form_widget(formFresque.save, {'attr': {'class': 'btn btn-info'}}) }}#}
                        {#{{ form_end(formFresque) }}#}

                    {#</div>#}
                    {#<div class="form-horizontal">#}
                    {#<input type="text" class="form-control" placeholder="Parlez-nous en un mot de votre quartier">#}
                    {#<button class="btn btn-primary form-control" type="submit">Envoyer</button>#}
                    {#</div>#}

                </div>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
