{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}PROJETS{% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                {% include '@Arteli/realisation_fresque.html.twig' %}
                {% include '@Arteli/realisation_kamishibai.html.twig' %}
                {% include '@Arteli/realisation_mosaique.html.twig' %}
                {% include '@Arteli/realisation_portrait.html.twig' %}
                {% include '@Arteli/realisation_volume.html.twig' %}
                {% include '@Arteli/realisation_renovation.html.twig' %}
                {#{% include '@Arteli/actuponctuel.html.twig' %}#}
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
