{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}PROJETS{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-LE-PROJET.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <strong>Les projets d'arts plastiques, impuls&eacute;s par l'association <i>Arteli</i> se veulent innovants, cr&eacute;atifs, collaboratifs et
                        favorisent la libert&eacute; d'expression..
                    </strong>

                </div>
                <div class="page-header">
                    <p><strong>Projets participatifs et collaboratifs</strong></p>
                    <p>
                        <i>Arteli</i> investie tous les moyens propres au champ des arts plastiques, pour cr&eacute;er
                        des actions collaboratives, valorisantes et f&eacute;d&eacute;ratrices d'&eacute;changes. Aussi,
                        l'association pr&eacute;f&egrave;re impulser des actions n&eacute;es du d&eacute;sir, de l'envie, de la r&eacute;flexion des individus
                        plut&ocirc;t que d'"imposer" une pratique ou un projet dict&eacute;s par les professionnels.

                    </p>
                </div>
                <div class="page-header">
                    <p><strong>Valoriser le processus cr&eacute;atif</strong></p>
                    <p>
                        Les projets impuls&eacute;s par notre association favorisent
                        la valorisation du processus cr&eacute;atif plut&ocirc;t que l'attente d'un r&eacute;sultat.
                    </p>
                </div>
                <div class="page-header">
                    <h4 id="passerelle">Projets Passerelles</h4>
                    <p>
                        Notre association d&eacute;veloppe des projets artistiques sur la commune de Floirac, de Bordeaux et de sa M&eacute;tropole.
                    </p>
                    <p>
                        <i>Arteli</i> s'associe aux &eacute;coles, aux coll&egrave;ges, aux structures associatives et institutionnelles pour d&eacute;velopper ses actions.
                    </p>
                    <p>
                        Un m&ecirc;me projet peut &eacute;galement toucher plusieurs structures. En effet, les ateliers d'une m&ecirc;me action peuvent
                        &ecirc;tre itin&eacute;rants, tout comme les expositions et toucher plusieurs publics.
                    </p>
                </div>
                <div class="page-header">
                    <h4 id="structureprojet">Structure des projets artistiques</h4>
                    <p>
                        Chaque projet impuls&eacute; par l'association <i>Arteli</i> fait l'objet d'un &eacute;crit o&ugrave; sont d&eacute;taill&eacute;s l'action, les techniques artistiques, le calendrier, mais aussi les objectifs et l'&eacute;valuation de l'action ainsi que son budget. Une convention sera &eacute;tablie entre <i>Arteli</i> et les structures associ&eacute;es &agrave; la r&eacute;alisation des projets.
                    </p>
                    <p>
                        Les actions peuvent r&eacute;pondre aux objectifs d'appels &agrave; projets &eacute;mis par les Institutions, les Fondations ou les Fonds de Dotation. Chaque projet fait l'objet d'une &eacute;tude et l'association peut s'appuyer sur les Fonds publics et/ou priv&eacute;s pour soutenir la r&eacute;alisation de ses actions.
                    </p>
                    <p>
                        Les adh&eacute;rents et nos partenaires b&eacute;n&eacute;ficieront alors de ces aides et pourront acc&eacute;der plus largement et &agrave; moindre frais aux projets de l'association.
                    </p>
                </div>
                <div class="page-header">
                    <h4 id="intergene">Actions interg&eacute;n&eacute;rationnelles et interculturelles</h4>
                    <p>
                        Les projets peuvent &ecirc;tre men&eacute;s par tous les publics, de la petite enfance aux seniors. <i>Arteli</i> favorise les actions interg&eacute;n&eacute;rationnelles, interculturelles, f&eacute;d&eacute;ratrices d'&eacute;changes et de rencontres.
                    </p>
                </div>
                <div class="page-header">
                    <h4 id="age">Des valeurs partag&eacute;es et des objectifs propres &agrave; chaque groupe d'&acirc;ge</h4>
                    <p>
                        L'association veillera &agrave; impulser des projets prenant en compte les sp&eacute;cificit&eacute;s et les besoins des individus en fonction de leur tranche d'&acirc;ge.
                    </p>
                    <ol>
                        <li><strong>La petite enfance</strong></li>
                        <p>Les projets d&eacute;di&eacute;s au public de la petite enfance impliqueront :</p>
                        <ul>
                            <li>la libert&eacute; d'expression</li>
                                <li>Un cadre le plus ouvert possible</li>
                                <li>Le travail sur l'individualit&eacute; et le d&eacute;veloppement personnel de chaque enfant.</li>
                                <li>La prise en compte du d&eacute;veloppement moteur de chaque enfant</li>
                        </ul>
                        <p class="espacement"></p>
                        <li><strong>Les enfants et les adolescents</strong></li>
                        <p>Les actions d&eacute;di&eacute;es aux enfants et aux adolescents favoriseront :</p>
                        <ul>
                            <li>La valorisation de la personne et la construction identitaire</li>
                            <li>La socialisation</li>
                            <li>L'acc&egrave;s &agrave; la culture et la r&eacute;flexion interculturelle</li>
                            <li>La relation &agrave; son territoire.</li>
                            <li>Le respect des autres et de son environnement.</li>
                        </ul>
                        <p class="espacement"></p>

                        <li><strong>Les adultes et les seniors</strong></li>
                        <p>Les actions impuls&eacute;es aupr&egrave;s d'un public adulte et seniors valoriseront :</p>
                        <ul>
                            <li>la parentalit&eacute; et la grand-parentalit&eacute;.</li>
                            <li>la m&eacute;moire et les parcours de vie.</li>
                            <li>La culture et l'interculturalit&eacute;.</li>
                            <li>L'inscription &agrave; un territoire.</li>
                        </ul>
                    </ol>
                </div>

                <div class="page-header" id="nospartenaires">
                    <div class="row">
                        <h4 id="partenaires">Partenaires financiers</h4>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/villeDeFloirac.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/conseilDepartemental.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo_cget.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                    </div>
                </div>
                <div class="page-header">
                    <div class="row">
                        <h4 id="partenaires">Partenaires opérationnels</h4>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/ministereCulture.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/bordeauxMetropole.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/dubreuilh.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-maison-ronald.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/aquitanis.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/caparol.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/alifs.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/edea.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/groupeRelaisHabitant.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-aktual-feeling.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-espace-social-haut-floirac.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-hauts-de-garonne.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-m270.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/logo-mairie-bordeaux.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/mana.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/mediathequeFloirac.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/ofildujeu.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                        <div class="col-xs-6 col-sm-3"><img src="{{ asset('img/partenaires/logo/promoFemme.png') }}" class="img-responsive pop imgmarginbottom logoPartenaire"></div>
                    </div>
                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
