{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row" xmlns="http://www.w3.org/1999/html">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <p><strong>Édition du catalogue PEGT (Projet Éducatif Global du Territoire) de la ville de Floirac.</strong></p>
                    <p>Printemps / été 2022</p>
                    <h4>Direction artistique et œuvres : Mélane</h4>
                    <h4>Mise en page et édition : Marina Le Sciellour.</h4>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/catalogue/PEGT/1.jpg','img/projets/realisation/catalogue/PEGT/2.jpg','img/projets/realisation/catalogue/PEGT/3.jpg','img/projets/realisation/catalogue/PEGT/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4x4' } %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <p><strong>Création d'un guide de recettes traditionnelles de soins du quotidien à base de plantes.</strong></p>
                    <p>Projet commandé par L'École des Femmes de l'association MANA.  </p>

                    <p>Octobre 2019 / Février 2020</p>
                    <p>Projet de création d'un recueil / herbier sur les recettes traditionnelles et ancestrales de soins des maux du quotidien par les plantes.</p>
                    <p>Le guide, comptabilisant vingt recettes, a été réalisé en dessin, aquarelles, encres et crayons par une quinzaine de bénéficiaires. </p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/catalogue/MANA/1.jpg','img/projets/realisation/catalogue/MANA/2.jpg','img/projets/realisation/catalogue/MANA/3.jpg','img/projets/realisation/catalogue/MANA/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4x4' } %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <p><strong>Le Petite Guide pour les Femmes en Migration à Bordeaux.</strong></p>
                    <p>Arriver dans un nouveau pays, dans une nouvelle ville, devoir affronter les problématiques liées aux inégalités de genre, à la migration et aux violences est une expérience très difficile pour de trop nombreuses femmes.</p>
                    <p>Afin de faciliter l’accès aux droits et aux structures pour les femmes migrantes, l’association Mana a eu l’initiative de réaliser le Petit guide pour Femmes en Migration à Bordeaux, à l’attention des femmes migrantes et des personnes qui les accompagnent.</p>
                    <p>L’association Mana est une association créée en 1998 qui a pour missions de permettre le soin et la prévention des populations migrantes à Bordeaux.</p>
                    <p>Le Petit Guide pour les Femmes en Migration résume à la fois les droits en tant qu’être humain, en tant que femme et en tant que personne étrangère. Il synthétise les différentes violences et permet de localiser les structures soutenant l’accueil des femmes victimes de violences, pour les personnes migrantes et pour les personnes en situation de précarité.</p>
                    <p>Le Petit Guide pour les Femmes en Migration est un document non exhaustif de tous les services proposés à Bordeaux. Cependant il matérialise la tentative de baliser les portes qui s’ouvriront et permettront la protection des femmes migrantes ayant vécues des violences dans la ville de Bordeaux.</p>
                    <p>Il s’inscrit dans les valeurs humaines de l’hospitalité et de la lutte contre les violences genrées des femmes en France et à Bordeaux.</p>
                    <h4>Edition : Arteli</h4>
                    <h4>Graphisme et mise en page : Marina Le Sciellour</h4>
                    <h4>Illustrations : Mélanie Ribaillier</h4>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/catalogue/femmeMigration/couverture.jpg','img/projets/realisation/catalogue/femmeMigration/illustration_1.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/catalogue/femmeMigration/illutration2.jpg','img/projets/realisation/catalogue/femmeMigration/texte1.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/catalogue/femmeMigration/couverture.jpg','img/projets/realisation/catalogue/femmeMigration/illustration_1.jpg','img/projets/realisation/catalogue/femmeMigration/illutration2.jpg','img/projets/realisation/catalogue/femmeMigration/texte1.jpg'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>
                <div class="page-header">
                    <p><strong>Édition de catalogues / Guides</strong></p>
                    <p>L'association <i>Arteli</i> développe depuis fin 2017 un nouvel axe : la création de catalogues et guides répondant aux objectifs et aux besoins de nos structures partenaires. Marina le Sciellour, infographiste professionnelle et membre du Conseil d’Administration d’Arteli se joint à Mélanie Ribaillier, qui assure la direction artistique et l’association d’éléments peints et dessinés, pour concevoir des documents esthétiques et qualitatifs.
                    </p>

                </div>
                <div class="page-header">
                    <p><strong>Création d’un guide intitulé « Les Aubiers à travers le temps »</strong></p>
                    <p>En partenariat avec l’association MANA.</p>
                    <p>« Les Aubiers à travers le temps » est un guide du quartier des Aubiers réalisé à partir du regard de ses habitants, grâce au tissage de leurs témoignages, de leurs souvenirs et de leurs rêves. Ce projet est né de l’envie de valoriser les savoirs et les histoires de chacun, en lien avec la vie du quartier, et tout particulièrement les seniors.</p>
                    <p>Guide publié en février 2018. </p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/catalogue/aubiers/Guide1.jpg','img/projets/realisation/catalogue/aubiers/Guide2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}

