{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}Action ponctuelle{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4 id="aponctuel">Actions ponctuelles</h4>
                    <p><i>Arteli</i> s'associe &agrave; ses partenaires associatifs et institutionnels pour proposer aux habitants de Floirac et de la M&eacute;tropoles des actions ponctuelles r&eacute;alis&eacute;es lors d'&eacute;v&eacute;nements.</p>
                        <p class="espacement" style="font-size: larger" >1/ <i><strong>Paroles d'habitants</strong></i></p>
                        <p>
                            L'association <i>Arteli</i> souhaite impulser aupr&egrave;s des habitants de Floirac un projet artistique sur le th&egrave;me du "vivre ensemble" lors de la journ&eacute;e festive <i>L'&eacute;tang en F&ecirc;te</i> organis&eacute;e par la commune de Floirac en juillet 2016.
                        </p>
                        <p>
                            L'action propos&eacute;e a pour missions d'impliquer les floiracais dans une &oelig;uvre collaborative, participative et po&eacute;tique qui se construira, in situ, tout au long de la journ&eacute;e.

                        </p>
                        <p class="espacement">
                            Les habitants et les personnes pr&eacute;sentes sur l'&eacute;v&eacute;nement seront invit&eacute;s &agrave; synth&eacute;tiser par un ou deux mots ou &agrave; retranscrire par le dessin sur des petits formats de papiers color&eacute;s leurs id&eacute;es, leurs impressions, leurs sensations, leurs exp&eacute;riences du "vivre ensemble".

                        </p>
                        <div class="row imgmarginbottom">
                            <div class="col-xs-12 col-md-12">
                                    <img src="{{ asset('img/projets/realisation/ponctuel1.jpg') }}" width="250px"  alt="Example" class="center-block pop">
                            </div>
                        </div>
                        <p>
                            Les papiers color&eacute;s, une fois compl&eacute;t&eacute;s par les paroles ou les dessins des habitants seront suspendus aux branches d'un arbre situ&eacute; &agrave; c&ocirc;t&eacute; de la maison des &eacute;tangs.
                            Les paroles et les dessins individuels constitueront alors les &eacute;l&eacute;ments d'une cr&eacute;ation collective, po&eacute;tique et esth&eacute;tique inscrite sur le territoire et l'environnement.
                        </p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel1633.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel165318.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/actualites/actuponctuel1638.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/realisation/ponctuel1637.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/realisation/ponctuel643.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4">
                            <img src="{{ asset('img/projets/realisation/ponctuel155658.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                    </div>
                        <p class="espacement" style="font-size: larger">2/<i><strong> Construisons notre Plan&egrave;te</strong></i></p>
                        <p>
                            Notre association s'associe aux partenaires associatifs et institutionnels de l'action <i>Plan&egrave;te Floirac 2016</i> afin de proposer aux personnes pr&eacute;sentes sur l'&eacute;v&egrave;nement un atelier d'arts plastiques collaboratif et participatif.
                            <i>Arteli</i> soutient les habitants pour construire tout au long de la manifestation une plan&egrave;te, sph&egrave;re singuli&egrave;re et lumineuse, r&eacute;alis&eacute;e &agrave; partir de mat&eacute;riaux de r&eacute;cup&eacute;ration et d'outils artistiques.</p>
                        <p>Cinquante personnes ont particip&eacute; &agrave; la r&eacute;alisation de cette 'plan&egrave;te' lors de la manifestation.
                    </p>
                    <p><a target="_blank" href="http://www.sudouest.fr/2016/09/05/le-drame-syrien-au-coeur-du-festival-2488806-2874.php">Lire l'article dans le journal Sud Ouest</a></p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
                            <img src="{{ asset('img/projets/realisation/planete/planete1.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                            <img src="{{ asset('img/projets/realisation/planete/planete2.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
                            <img src="{{ asset('img/projets/realisation/planete/planete3.jpg') }}" class="img-responsive img-rounded center-block imgmarginbottom pop">
                        </div>
                    </div>
                        <p><a class="btn btn-info" href="{{ path("arteli_download",{'dlfile':'dossierPressePlanete.pdf'}) }}">T&eacute;l&eacute;charger le dossier de presse</a></p>
                    </ol>
                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
