{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Un Monde Sans Frontière</h4>
                    <p class="espacement">Novembre 2019</p>
                    <p class="espacement"><i>Arteli</i> s’est associée à l’association A.L.I.F.S. pour proposer aux anciens, bénéficiaires de l’espace migrants âgés <i>Hom’Age</i>, un projet artistique intitulé <i>Un Monde Sans Frontière</i>. Ce dernier a eu pour objectifs de favoriser l’expression, de fédérer le groupe et de valoriser les anciens et leurs parcours de vie.</p>
                    <p>Les seniors ont été conviés à inventer un monde singulier et imaginaire, à partir de leurs vécus et de leurs expériences personnelles ; un monde idéal et sans frontière où  ont pu être réunis la sphère familiale, amicales et les expériences professionnelles,  l’enfant et l’adulte.</p>

                    <p>Exposition des réalisations au Musée d'Aquitaine dans le cadre d'un AOC sur la thématique des <i>Chibanis</i> en décembre 2019.</p>
                    {% set diapo = random() %}
                    {% set vars = ['img/projets/realisation/un_monde_sans_frontiere/20191114_102145.jpg','img/projets/realisation/un_monde_sans_frontiere/20191121_143152.jpg','img/projets/realisation/un_monde_sans_frontiere/20191201_175259.jpg'] %}
                    {% include ('@Arteli/Display/display.html.twig') with {'vars':vars,'css':'paysage3x3'} %}
                    {% set vars = ['img/projets/realisation/un_monde_sans_frontiere/20191201_175304.jpg','img/projets/realisation/un_monde_sans_frontiere/20191201_175309.jpg'] %}
                    {% include ('@Arteli/Display/display.html.twig') with {'vars':vars,'css':'paysage2'} %}

                    {% set vars = ['img/projets/realisation/un_monde_sans_frontiere/20191114_102145.jpg','img/projets/realisation/un_monde_sans_frontiere/20191121_143152.jpg','img/projets/realisation/un_monde_sans_frontiere/20191201_175259.jpg','img/projets/realisation/un_monde_sans_frontiere/20191201_175304.jpg','img/projets/realisation/un_monde_sans_frontiere/20191201_175309.jpg'] %}
                    {% include ('@Arteli/Modal/diaporama.html.twig') with vars %}


                </div>


                <div class="page-header">
                    <h4>Couleur, Motif, Mosa&iuml;que et Tressage.</h4>
                    <p class="espacement"><strong>Feuillages estivals</strong></p>
                    <p class="espacement">Composition créative et poétique du feuillage d'un arbre. Peinture et dessin de Mélanie Ribaillier sur une toile de 3 mètres de haut sur 1,50 mètres de large. Atelier réalisé lors du festival <i>Hip Hop sans Frontières</i> à la Coupole de Saint Loubès, février 2018.</p>
                    {% set diapo = random() %}
                    {% set vars = ['img/projets/realisation/saintloubes2018/4.jpg','img/projets/realisation/saintloubes2018/5.jpg'] %}
                    {% include ('@Arteli/Display/display.html.twig') with {'vars':vars,'css':'paysage'} %}
                    {% set vars = ['img/projets/realisation/saintloubes2018/3.jpg','img/projets/realisation/saintloubes2018/2.jpg'] %}
                    {% include ('@Arteli/Display/display.html.twig') with {'vars':vars,'css':'portrait'} %}

                    {% set vars = ['img/projets/realisation/saintloubes2018/4.jpg','img/projets/realisation/saintloubes2018/5.jpg','img/projets/realisation/saintloubes2018/3.jpg','img/projets/realisation/saintloubes2018/2.jpg'] %}
                    {% include ('@Arteli/Modal/diaporama.html.twig') with vars %}


                    <p class="espacement" style="font-size: larger"><strong><i>"Méli mélo monochrome"</i></strong></p>
                    <p class="espacement">Octobre 2017</p>
                    <p class="espacement">Créations monochromes sur toiles réalisées à partir d'une multitude d'objets et d'éléments de récupration</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/melimelo/2.jpg','img/projets/realisation/melimelo/4.jpg','img/projets/realisation/melimelo/5.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/melimelo/6.jpg','img/projets/realisation/melimelo/7.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/melimelo/2.jpg','img/projets/realisation/melimelo/4.jpg','img/projets/realisation/melimelo/5.jpg', 'img/projets/realisation/melimelo/6.jpg','img/projets/realisation/melimelo/7.jpg'] %}
                    {% include ('@Arteli/Modal/diaporama.html.twig') with vars %}



                    <p class="espacement" style="font-size: larger"><strong><i>"Camaïeux de mosaïques"</i></strong></p>
                    <p class="espacement">projet réalisé de juillet à décembre 2017 avec les enfants du Centre de Loisirs de Floirac, les seniors de la RPA La Pastourelle de Floirac, l’école maternelle Jean Jaurès et les 60 élèves (enfants et adultes) <i>l’Atelier d’Arteli</i>.</p>
                    <p>Les enfants et les adultes de la ville de Floirac ont été invités à réaliser, sur des feuilles cartonnées de 20cm x 20cm des mosaïques de couleurs,  composition singulière et originale monochrome.</p>
                    <p>Les personnes ont associé, selon leur imaginaire, plusieurs éléments d’une même teinte.</p>
                        <p>Les 250 mosaïques réalisées ont ensuite été réunies par couleur et assemblées pour former une fresque originale exposée au Centre de Loisirs de Floirac en Août et septembre 2017 puis en décembre à la M270 de Floirac.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/camaieuxDeMosaique/1.jpg','img/projets/realisation/camaieuxDeMosaique/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}
                    {% set vars = [ 'img/projets/realisation/camaieuxDeMosaique/5.jpg','img/projets/realisation/camaieuxDeMosaique/6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = ['img/projets/realisation/camaieuxDeMosaique/1.jpg','img/projets/realisation/camaieuxDeMosaique/4.jpg', 'img/projets/realisation/camaieuxDeMosaique/5.jpg','img/projets/realisation/camaieuxDeMosaique/6.jpg'] %}
                    {% include ('@Arteli/Modal/diaporama.html.twig') with vars %}

                    <p class="espacement" style="font-size: larger"><strong><i>"Réinventons notre quartier"</i></strong></p>
                    <p class="espacement">Juillet 2017</p>
                    <p>Arteli a mis à disposition des familles présentes deux plans du quartier des étangs. Les plans ont été réinventés et réinterprétés par des collages et des ajouts de matières et de petits éléments. 80 personnes ont bénéficié de l’atelier.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/actualites/feteEte2017/1.jpg','img/projets/actualites/feteEte2017/2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                    <p class="espacement" style="font-size: larger"><strong><i>"Vivre ensemble"</i></strong></p>
                        <p class="espacement">Projet r&eacute;alis&eacute; en partenariat avec l'association PromoFemmes de Bordeaux Mars, avril 2017</p>
                        <p class="espacement">Du bleu synonyme de libert&eacute;, du vert pour la fraternit&eacute;... Autant de couleurs valorisant le "vivre ensemble" et le respect de l'autre.
                            5 grands formats g&eacute;n&eacute;reux et lumineux ont ainsi &eacute;t&eacute; r&eacute;alis&eacute;s par les adh&eacute;rentes et les b&eacute;n&eacute;voles de l'association PromoFemmes de Bordeaux. </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/promofemme/2.jpg','img/projets/realisation/promofemme/3.jpg','img/projets/realisation/promofemme/7.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}


                    {% set vars = [ 'img/projets/realisation/promofemme/5.jpg','img/projets/realisation/promofemme/6.jpg','img/projets/realisation/promofemme/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}


                    {% set vars = [ 'img/projets/realisation/promofemme/8.jpg','img/projets/realisation/promofemme/9.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = ['img/projets/realisation/promofemme/2.jpg','img/projets/realisation/promofemme/3.jpg','img/projets/realisation/promofemme/7.jpg',  'img/projets/realisation/promofemme/5.jpg','img/projets/realisation/promofemme/6.jpg','img/projets/realisation/promofemme/4.jpg','img/projets/realisation/promofemme/8.jpg','img/projets/realisation/promofemme/9.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}




                    <p class="espacement" style="font-size: larger"><strong><i>Regards</i></strong></p>
                        <p>Action impuls&eacute;e sur l'espace Migrants <i>Ag&eacute;s Hom'Age</i> de l'association A.L.I.F.S. en mai 2012 &agrave; Bordeaux.</p>

                        <p>Lors de d&eacute;ambulation dans un quartier de la ville de Bordeaux, les personnes ont &eacute;t&eacute; invit&eacute;es &agrave; poser un regard neuf sur les espaces, les fa&ccedil;ades, les vitrines et les d&eacute;tails architecturaux. Tous ces espaces revisit&eacute;s ont &eacute;t&eacute; photographi&eacute;s.</p>
                        <p>Ces photographies ont ensuite &eacute;t&eacute; photocopi&eacute;es en grand format et r&eacute;-exploit&eacute;es selon l'imaginaire de chacun dans des productions artistiques. Des encres, du pastel, des feutres et des crayons, des pigments ainsi que des d&eacute;coupes de divers papiers ont &eacute;t&eacute; utilis&eacute;s pour la r&eacute;alisation de ces productions. Des motifs, choisis par les personnes, sont venues compl&eacute;ter les cr&eacute;ations.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/mosaique1_1.jpg','img/projets/realisation/mosaique1_2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/mosaique2_1.jpg','img/projets/realisation/mosaique2_2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/mosaique1_1.jpg','img/projets/realisation/mosaique1_2.jpg','img/projets/realisation/mosaique2_1.jpg','img/projets/realisation/mosaique2_2.jpg'] %}
                    {%  include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    <p class="text-center"> <small><i>Paysages imaginaires cr&eacute;&eacute;s par les anciens migrants de l'espace Hom'Age de l'ALIFS. Bordeaux, mai 2012.</i></small></p>
                        <p>Ce projet est ax&eacute; sur la d&eacute;couverte et l'appropriation des espaces constituant notre quartier et questionne la singularit&eacute; d'un territoire. Les &oelig;uvres ainsi cr&eacute;&eacute;es offrent au spectateur un regard original, esth&eacute;tique et interculturel sur ce quartier historique de la ville de Bordeaux.</p>



                        <p class="espacement" style="font-size: larger"><strong><i>Cr&eacute;ation d'un arbre g&eacute;ant en mosa&iuml;ques</i></strong></p>
                        <p>Projet propos&eacute; aux &eacute;coles primaires de la ville de Floirac pour les T.A.P. sur l'ann&eacute;e scolaire 2016 / 2017.</p>

                        <p>Les enfants sont invit&eacute;s &agrave; cr&eacute;er des motifs de mosa&iuml;ques &agrave; partir d'&eacute;l&eacute;ments issus de la vie courante et de r&eacute;cup&eacute;ration de petits objets et &agrave; constituer, &agrave; partir de ces carr&eacute;s de mosa&iuml;ques, un arbre g&eacute;ant.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/actualites/TAP/20161121_140653.jpg','img/projets/actualites/TAP/20161121_140732.jpg','img/projets/actualites/TAP/20161121_140739.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {%  include '@Arteli/Modal/diaporama.html.twig' with vars %}

                        <p class="espacement" style="font-size: larger" id="japon"><strong><i>Escale au Japon</i></strong></p>
                        <p>L'association <i>Arteli</i> s'associe &agrave; l'&eacute;cole Henry IV et &agrave; l'association ALIFS pour accompagner les enfants de la classe CLIN &agrave; r&eacute;aliser des productions artistiques originales en lien avec leurs ha&iuml;kus produits lors d'ateliers d'&eacute;criture.</p>

                        <p>Afin de valoriser le travail d'&eacute;criture, de promouvoir la d&eacute;couverte de nouvelles cultures artistiques et de favoriser la coh&eacute;rence du projet, <i>Arteli</i> a propos&eacute; aux enfants un projet dont les techniques plastiques et graphiques &eacute;voquent les estampes japonaise et les <i>Hanko</i> (sceau japonais).</p>

                    {% set diapo = random() %}

                    {% set vars = [ 'img/projets/realisation/mosaique4_1.jpg','img/projets/realisation/mosaique4_2.jpg', 'img/projets/realisation/mosaique4_3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    <p class="text-center "> <small><i>Projet Histoires de Nos Ailleurs exposition &agrave; la Halle des Douves de Bordeaux Mai 2016</i></small></p>

                    {% set vars = [ 'img/projets/realisation/mosaique5_1.jpg','img/projets/realisation/mosaique5_2.jpg', 'img/projets/realisation/mosaique5_3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/mosaique6_1.jpg','img/projets/realisation/mosaique6_2.jpg', 'img/projets/realisation/mosaique6_3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/mosaique4_1.jpg','img/projets/realisation/mosaique4_2.jpg', 'img/projets/realisation/mosaique4_3.jpg','img/projets/realisation/mosaique5_1.jpg','img/projets/realisation/mosaique5_2.jpg', 'img/projets/realisation/mosaique5_3.jpg','img/projets/realisation/mosaique6_1.jpg','img/projets/realisation/mosaique6_2.jpg', 'img/projets/realisation/mosaique6_3.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    <p class="text-center"> <small><i>R&eacute;alisations des enfants de la classe CLIN de l'&eacute;cole &eacute;l&eacute;mentaire Henry IV de Bordeaux Action Escale au Japon Projet Histoires de Nos Ailleurs Mai 2016</i></small>
                    </p>

                    <p>Chaque enfant a r&eacute;alis&eacute; une composition originale monochrome sur un format raisin (50x65 cm). Les &eacute;l&egrave;ves d&eacute;couvriront le travail plastique et graphique de la ligne noire, des aplats color&eacute;s, du collage, de l'encre, de la mine graphite et des tampons. Les compositions ainsi cr&eacute;&eacute;es  d&eacute;voilent un paysage issu de l'imaginaire des enfants alliant l'abstrait et le figuratif.</p>
                        <p class="espacement" style="font-size: larger" id="parentalite"><strong><i>Projet de soutien &agrave; la parentalit&eacute;</i></strong></p>
                    <p>Action impuls&eacute;e aupr&egrave;s des familles de <i>l'Espace Social et Culturel du Haut Floirac</i> en mai 2016 et sur <i>Le Centre Social</i> du bas Floirac en septembre et octobre 2016.</p>

                        <p>L'association <i>Arteli</i> et les Centres Sociaux ont souhait&eacute; s'associer pour d&eacute;velopper un projet questionnant l'identit&eacute; de la famille et les liens existant entre les membres d'un m&ecirc;me foyer.</p>

                        <p>A partir d'autoportraits et de photographies familiales prises par les enfants et les parents et revisit&eacute;s par le travail de la ligne noire et des aplats color&eacute;s, des tressages ont &eacute;t&eacute; r&eacute;alis&eacute;s. Ces derniers ont &eacute;t&eacute; constitu&eacute;s &agrave; partir des photographies revisit&eacute;es, d&eacute;coup&eacute;es en bandes. Des bandes de tulles color&eacute;es, de papier kraft et de papier transparent sont venues agr&eacute;menter le tressage. Une &oelig;uvre originale, singuli&egrave;re et embl&eacute;matique des membres d'une m&ecirc;me famille est alors constitu&eacute;e.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/parentalite1_1.jpg','img/projets/realisation/parentalite1_2.jpg'] %}
                    {% set legendes = [ "Familles de l'Espace Social et Culturel du Haut Floirac. Mai 2016",'Découpe de bandes pour confectionner les tressages'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage', 'legend': legendes } %}

                    {% set vars = [ 'img/projets/realisation/parentalite2_1.jpg','img/projets/realisation/parentalite2_2.jpg'] %}
                    {% set legendes = [ "Tressage",''] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage', 'legend': legendes } %}

                    {% set vars = [ 'img/projets/realisation/parentalite1_1.jpg','img/projets/realisation/parentalite1_2.jpg','img/projets/realisation/parentalite2_1.jpg','img/projets/realisation/parentalite2_2.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                        <p>Les parents accompagnent, soutiennent et guident les enfants dans les diff&eacute;rentes &eacute;tapes du projet.</p>
                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
