{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Projet Entraides et Solidarité / 2018</h4>
                    <p class="espacement">Sculpture réalisée par les habitants du quartier Dravemont à Floirac à partir d'objets et de matériaux de récupération.
                        Projet mené par <i>Arteli</i> en association avec l'artiste sculpteur <i>Jean-Francois André</i>.</p>
                    <p>Action soutenue par les professionnels du collectif Entraides et Solidarité.</p>
                        <p>Sculpture installée au cœur des résidences Jules Verne à Floirac.</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/entraidesolidaritejulesverne/2.jpg','img/projets/realisation/entraidesolidaritejulesverne/3.jpg','img/projets/realisation/entraidesolidaritejulesverne/7.jpg','img/projets/realisation/entraidesolidaritejulesverne/11.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars%}

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/entraidesolidaritejulesverne/14.jpg','img/projets/realisation/entraidesolidaritejulesverne/17.jpg','img/projets/realisation/entraidesolidaritejulesverne/18.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars%}

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/entraidesolidaritejulesverne/20.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars%}

                </div>
                <div class="page-header">
                    <h4>Projets de décoration de bacs de jardin partagé.</h4>
                    <p class="espacement"><strong>1/ Cité du Midi à Floirac. Décorations réalisé par les familles résidentes du quartier et les adhérents de L’Atelier d’Arteli. Mai 2018. </strong></p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/bacjardinpartage/citemidi/bacscitedumidi1.jpg','img/projets/realisation/bacjardinpartage/citemidi/bacscitedumidi2.jpg','img/projets/realisation/bacjardinpartage/citemidi/bacscitedumidi3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars%}

                    <p class="espacement"><strong>2/ Quartier Dravemont à Floirac. Projet Entraide et Solidarité.</strong></p>
                    <p>Décorations réalisées par les familles et les enfants du quartier. Juillet 2018</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont1.jpg','img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont2.jpg','img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont1.jpg','img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont2.jpg','img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont3.jpg','img/projets/realisation/bacjardinpartage/dravemont/bacsdravemont4.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>
                <div class="page-header">
                    <h4>Volume / Sculpture</h4>


                    <p class="espacement"><strong>1/ Madame Récup</strong></p>
                    <p>Octobre 2017</p>
                    <p>Sculpture réalisée à partir d'objets et d’éléments de récupération et confectionnée par les enfants âgés de 7 à 10 ans à <i>L'Atelier d'Arteli</i>.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/actualites/madameRecup/1.jpg','img/projets/actualites/madameRecup/2.jpg','img/projets/actualites/madameRecup/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait4x4' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                    <p class="espacement"><strong>2/ Cr&eacute;ation &agrave; <i>L'Atelier d'Arteli</i> de petits personnages r&eacute;alis&eacute;s par les enfants &acirc;g&eacute;s de 6 &agrave; 10 ans.</strong></p>
                    <p>Mat&eacute;riaux utilis&eacute;s : Fil de fer, papier m&acirc;ch&eacute;, scotch, peinture, laine, accessoires. </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/actualites/personnageFil/IMGP2510.JPG','img/projets/actualites/personnageFil/IMGP2512.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage2' } %}

                    {% set vars = [ 'img/projets/actualites/personnageFil/IMGP2513.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/actualites/personnageFil/IMGP2510.JPG','img/projets/actualites/personnageFil/IMGP2512.JPG','img/projets/actualites/personnageFil/IMGP2513.JPG'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                        <p class="espacement" ><strong>3/ Projet <i>Entraide et Solidarit&eacute;</i></strong></p>
                        <p>
                            Actions r&eacute;alis&eacute;es en partenariat avec <i>L'Espace Social et Culturel du Haut Floirac, Aquitanis</i>, la CAF, l'<i>Espace Famille</i>, Le Conseil D&eacute;partemental, la Mairie de Floirac, l'AJHaG, les habitants des r&eacute;sidences Blaise Pascal Corneille et soutenues par la Fondation Abb&eacute; Pierre.
                            Mai / septembre 2016.
                        </p>
                        <p>
                            (Pour les d&eacute;tails de l'action globale de ce projet,  se r&eacute;f&eacute;rer &agrave; la rubrique intitul&eacute;e <a href="{{ path('arteli_switch', {'switch': 'fresque'}) }}#dravemont">La Fresque</a>)
                        </p>
                        <p>Les habitants du quartier <i>Dravemont</i> &agrave; Floirac ont &eacute;t&eacute; invit&eacute;s &agrave; se r&eacute;approprier un hall d'entr&eacute;e d'immeuble, espace de vie commun, en concevant plusieurs volumes, ludiques et color&eacute;s,  sur le th&eacute;me de l'univers v&eacute;g&eacute;tal, qui viennent rythmer, dynamiser et valoriser l'espace.
                        </p>
                        <p>
                             La libert&eacute; d'expression et d'ex&eacute;cution a &eacute;t&eacute; favoris&eacute;e et valoris&eacute;e en &eacute;vacuant les questions li&eacute;es &agrave; la repr&eacute;sentation exacte du r&eacute;el.
                        <p>15 journ&eacute;es d'ateliers ont &eacute;t&eacute; n&eacute;cessaires &agrave; la confection des volumes. 49 personnes ont particip&eacute; &agrave; ces ateliers et 147 accueils ont &eacute;t&eacute; effectu&eacute;s sur ces 15 journ&eacute;es.</p>


                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1710.jpg','img/projets/realisation/dravemont/IMGP1709.JPG','img/projets/realisation/dravemont/IMGP1707.JPG','img/projets/realisation/dravemont/IMGP1691.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1690.JPG','img/projets/realisation/dravemont/IMGP1688.JPG','img/projets/realisation/dravemont/IMGP1686.JPG','img/projets/realisation/dravemont/IMGP1652.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1710.jpg','img/projets/realisation/dravemont/IMGP1709.JPG','img/projets/realisation/dravemont/IMGP1707.JPG','img/projets/realisation/dravemont/IMGP1691.JPG','img/projets/realisation/dravemont/IMGP1690.JPG','img/projets/realisation/dravemont/IMGP1688.JPG','img/projets/realisation/dravemont/IMGP1686.JPG','img/projets/realisation/dravemont/IMGP1652.JPG'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                    <p class="espacement"><strong><i>4/ Décoration des socles de la M270 &agrave; Floirac.</i></strong></p>
                    <p>20 au 23 décembre 2016</p>
                    <p>Bravo aux 18 adh&eacute;rents pr&eacute;sents sur les ateliers pour leur cr&eacute;ativit&eacute; et leur bonne humeur !</p>
                    <p>Un chaleureux merci &agrave; Violaine, membre du C.A. <i>d'Arteli</i> pour ses illustrations, &agrave; Nathalie de <i>l'Atelier de Nora</i> et Jean Michel Meyre pour leurs photos, &agrave; Martine Prouhet pour son soutien et &agrave; toute l'&eacute;quipe de la <i>M270</i> et du <i>Groupe Relais Habitants</i> pour leur accueil !</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/actualites/stageDecembreM270/IMG_2066.jpg','img/projets/actualites/stageDecembreM270/20161222_170415.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/actualites/stageDecembreM270/20161220_162307.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/actualites/stageDecembreM270/IMG_2066.jpg','img/projets/actualites/stageDecembreM270/20161222_170415.jpg','img/projets/actualites/stageDecembreM270/20161220_162307.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                    <p class="espacement"><strong>5/ <i>Hom'Age au F&eacute;minin et au Masculin</i></strong></p>
                    <p>
                        <i>Arteli</i> s'associe &agrave; l'association A.L.I.F.S. pour d&eacute;velopper aupr&egrave;s des seniors, usagers de l'espace migrants &acirc;g&eacute;s <i>Hom'Age</i> un projet d'arts plastiques de mars &agrave; d&eacute;cembre 2016. Ce projet interroge les repr&eacute;sentations du corps chez les personnes &acirc;g&eacute;es issues de l'immigration.</p>
                    <p>
                        Nous proposons aux personnes &acirc;g&eacute;es de concevoir, en volume et &agrave; taille humaine, deux silhouettes repr&eacute;sentant un homme et une femme. Afin de favoriser la parole des anciens et la production collective, de valoriser les individus et les cultures et de soutenir la r&eacute;alisation artistique de productions originales, ces deux silhouettes sont issues de l'imaginaire des personnes &acirc;g&eacute;es et construites dans le respect de la parole et des envies des seniors.
                    </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/alifs/IMGP1527.JPG','img/projets/realisation/alifs/IMGP1528.JPG','/img/projets/actualites/20161215_141729.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ '/img/projets/realisation/alifs/IMGP1478.JPG', '/img/projets/realisation/alifs/IMGP1490.JPG', '/img/projets/realisation/alifs/2.jpg', '/img/projets/realisation/alifs/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait4x4' } %}

                    {% set vars = [ '/img/projets/actualites/20161124_153722.jpg','/img/projets/actualites/20161215_144615.jpg','/img/projets/actualites/20161215_145649.jpg','/img/projets/actualites/20161215_144841.jpg' ] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait4x4' } %}

                    {% set vars = [ 'img/projets/realisation/alifs/IMGP1527.JPG','img/projets/realisation/alifs/IMGP1528.JPG','/img/projets/actualites/20161215_141729.jpg','/img/projets/realisation/alifs/IMGP1478.JPG', '/img/projets/realisation/alifs/IMGP1490.JPG', '/img/projets/realisation/alifs/2.jpg', '/img/projets/realisation/alifs/3.jpg','/img/projets/actualites/20161124_153722.jpg','/img/projets/actualites/20161215_144615.jpg','/img/projets/actualites/20161215_145649.jpg','/img/projets/actualites/20161215_144841.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
