{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-ENTREPRISES.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header" id="fresque">
                    <p style="font-size: larger">
                        <strong>
                            <h4>Réalisations d'autoportraits Pop à Onepoint.</h4>
                    <p>Arteli a mené un projet artistiques auprès des collaborateurs de la société Onepoint à Pessac.
                        L'action, visant à réaliser des autoportraits colorés placés sur les parois vitrées de
                        l'entreprise, avait l'objectifs de favoriser la cohésion d'équipe et le bien être, de valoriser
                        l'ensemble des collaborateurs et de renforcer leur sentiment d'appartenance à l'entreprise.</p>
                    <p>Toutes les phases du projet ont été construites en concertation avec les salariés, de sa
                        faisabilité à l’exposition des créations.</p>
                    <p>Les réalisations, exposées dans l'ensemble du bâtiment sont également visibles depuis la rue.
                        Elles donnent à voir les collaborateurs et égayent l'entreprise. </p>
                    {% set vars = [ 'img/projets/realisation/onepoint/1.jpg', 'img/projets/realisation/onepoint/4.jpg'] %}
                    {%  include 'ArteliBundle:Display:paysage2x2.html.twig' with vars %}

                    {% set vars = [ 'img/projets/realisation/onepoint/2.jpg', 'img/projets/realisation/onepoint/3.jpg'] %}
                    {%  include 'ArteliBundle:Display:portrait2x2.html.twig' with vars %}

                    {% set vars = [ 'img/projets/realisation/onepoint/6.jpg', 'img/projets/realisation/onepoint/7.jpg'] %}
                    {%  include 'ArteliBundle:Display:portrait2x2.html.twig' with vars %}

                    {% set vars = [ 'img/projets/realisation/onepoint/8.jpg', 'img/projets/realisation/onepoint/9.jpg'] %}
                    {%  include 'ArteliBundle:Display:portrait2x2.html.twig' with vars %}

                </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
