{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>la Maison des tout-petits</h4>
                    <p>Création avec les services techniques de la ville de Floirac de cette maisonnette pour l'édition 2019 du Festival de la Petite Enfance.
                        Décoration de la structure réalisée par des enfants âgés de 4 à 8 ans.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/maison-des-tout-petits/1.jpg','img/projets/realisation/maison-des-tout-petits/2.jpg'] %}
                    {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                     {% set vars = [ 'img/projets/realisation/maison-des-tout-petits/3.jpg'] %}
                    {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/maison-des-tout-petits/1.jpg','img/projets/realisation/maison-des-tout-petits/2.jpg','img/projets/realisation/maison-des-tout-petits/3.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <h4>Cr&eacute;ation / R&eacute;novation de meubles et objets</h4>
                    <p class="espacement" style="font-size: larger"><strong>Projet <i>Lieu de Vie / Lien de
                                Vie</i></strong></p>
                    <p>Espace <i>Hom'Age</i> association A.L.I.F.S. 1er semestre 2015.</p>
                    <p>Plusieurs ateliers de restauration et customisation de meubles ont &eacute;t&eacute; propos&eacute;s
                        aux seniors usagers de l'espace <i>Hom'Age</i> de l'ALIFS. Les personnes &acirc;g&eacute;es ont
                        dans un premier temps ponc&eacute; et repeint les meubles. Elles ont ensuite &eacute;t&eacute;
                        invit&eacute;es &agrave; collecter des journaux (nationaux et internationaux) qu'elles ont d&eacute;coup&eacute;
                        et repositionn&eacute;, selon la technique de "d&eacute;copatch", sur les meubles &agrave;
                        l'aide d'un vernis colle satin&eacute;. Du papier de soie et des photos, prises lors des temps
                        d'animation de l'espace <i>Hom'Age</i>, sont venus compl&eacute;ter ces r&eacute;novations. </p>
                    <p>
                        Dans un second temps, cette technique de restauration et d&eacute;coration de meuble a &eacute;t&eacute;
                        utilis&eacute;e sur les meubles et objets personnels des seniors. Les personnes &acirc;g&eacute;es
                        ont rapport&eacute;es du petit mobilier et des objets qu'ils ont r&eacute;nov&eacute;s et
                        customis&eacute;s sur l'espace <i>Hom'Age</i> et r&eacute;install&eacute;s chez eux. Ainsi les
                        espaces de vie ont &eacute;t&eacute; investis personnellement avec des objets et des meubles d&eacute;coratifs
                        con&ccedil;us en collectif.
                    </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/renovation1_1.jpg','img/projets/realisation/renovation1_2.jpg' ] %}
                    {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/renovation3.jpg' ] %}
                    {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/renovation1_1.jpg','img/projets/realisation/renovation1_2.jpg','img/projets/realisation/renovation3.jpg' ] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                    <div class="caption">
                        <p class="text-center">
                            <small><i>Ateliers de r&eacute;novation et customisation de meubles et objets, espace <i>Hom'Age</i>,
                                    A.L.I.F.S., 1er semestre 2015.</i></small>
                        </p>
                    </div>
                </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
