{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Le Portrait / L'Autoportrait</h4>
                    <p class="espacement"><strong>Exploration des techniques de l'autoportrait au dessin</strong></p>
                    <p class="espacement">groupe des adultes de <i>L'Atelier
                            d'Arteli</i></p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/techn_autoportrait_adulte/3.jpg','img/projets/realisation/techn_autoportrait_adulte/6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/techn_autoportrait_adulte/12.jpg','img/projets/realisation/techn_autoportrait_adulte/13.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/techn_autoportrait_adulte/14.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/techn_autoportrait_adulte/3.jpg','img/projets/realisation/techn_autoportrait_adulte/6.jpg','img/projets/realisation/techn_autoportrait_adulte/12.jpg','img/projets/realisation/techn_autoportrait_adulte/13.jpg','img/projets/realisation/techn_autoportrait_adulte/14.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    <p class="espacement"><strong>Autoportraits à la mine graphite</strong></p>
                    <p class="espacement">Réalisés par un groupe d'enfants âgés de 7 à 10 ans à <i>L'Atelier
                            d'Arteli</i> en janvier / février 2018</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/autoportraitgraphite/3.jpg','img/projets/realisation/autoportraitgraphite/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/autoportraitgraphite/prune.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/autoportraitgraphite/3.jpg','img/projets/realisation/autoportraitgraphite/4.jpg','img/projets/realisation/autoportraitgraphite/prune.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    <p class="espacement"><strong>Autoportraits / techniques mixtes</strong></p>
                    <p class="espacement">Compositions réalisées par les enfants de L'Atelier d'Arteli âgés de 4 à 6 ans
                        en janvier / février 2018. Peintures / collages</p>


                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/autoportraittechniquemixte/1.jpg','img/projets/realisation/autoportraittechniquemixte/2.jpg','img/projets/realisation/autoportraittechniquemixte/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars%}


                    <p class="espacement"><strong>Autoportraits façon Pop Art</strong></p>
                    <p class="espacement">Autoportraits façon Pop, inspirés des œuvres de Roy Lichtenstein créés par le
                        groupe d'adolescents de l'Atelier d'Arteli</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/autoportraitpop/auto1.jpg','img/projets/realisation/autoportraitpop/auto2.jpg','img/projets/realisation/autoportraitpop/auto3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/autoportraitpop/auto4.jpg','img/projets/realisation/autoportraitpop/auto5.jpg','img/projets/realisation/autoportraitpop/auto6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/autoportraitpop/auto7.jpg','img/projets/realisation/autoportraitpop/auto8.jpg','img/projets/realisation/autoportraitpop/auto9.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}


                    {% set vars = [ 'img/projets/realisation/autoportraitpop/auto1.jpg','img/projets/realisation/autoportraitpop/auto2.jpg','img/projets/realisation/autoportraitpop/auto3.jpg','img/projets/realisation/autoportraitpop/auto4.jpg','img/projets/realisation/autoportraitpop/auto5.jpg','img/projets/realisation/autoportraitpop/auto6.jpg','img/projets/realisation/autoportraitpop/auto7.jpg','img/projets/realisation/autoportraitpop/auto8.jpg','img/projets/realisation/autoportraitpop/auto9.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    <p class="espacement"><strong>Septembre 2014 / Janvier 2016.</strong></p>
                    <p>
                        Actions r&eacute;alis&eacute;es avec les migrants &acirc;g&eacute;s, usagers de l'espace <i>Hom'Age</i>
                        de l'association A.L.I.F.S. et les seniors, r&eacute;sidents des R.P.A de la ville de Bordeaux.
                    </p>
                    <p>
                        Ce projet ax&eacute; sur l'initiation &agrave; l'autoportrait et la sensibilisation &agrave;
                        repr&eacute;senter le r&eacute;el. Les migrants &acirc;g&eacute;s peut habitu&eacute;s
                        culturellement et spirituellement &agrave; se repr&eacute;senter ont n&eacute;cessairement d&ucirc;
                        surmonter des r&eacute;sistances.</p>
                    <p>Nous avons souhait&eacute; amener les s&eacute;niors &agrave; se repr&eacute;senter, &agrave;
                        l'aide de portraits photographiques r&eacute;alis&eacute;s par la plasticienne. Sur une page
                        blanche, les photographies, coup&eacute;es en deux dans le sens vertical, ont &eacute;t&eacute;
                        coll&eacute;es. Les personnes &acirc;g&eacute;es ont alors &eacute;t&eacute; invit&eacute;es
                        &agrave; reproduire au fusain la face manquante de leur portrait.
                    </p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/portrait1.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/portrait1_1.jpg','img/projets/realisation/portrait1_2.jpg','img/projets/realisation/portrait1_3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait3x3' } %}

                    {% set vars = [ 'img/projets/realisation/portrait1.jpg', 'img/projets/realisation/portrait1_1.jpg','img/projets/realisation/portrait1_2.jpg','img/projets/realisation/portrait1_3.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                        <div class="caption">
                            <p class="text-center">
                                <small><i>Autoportraits au fusain r&eacute;alis&eacute;s par les seniors de la ville de
                                        Bordeaux.Septembre 2014</i></small>
                            </p>
                        </div>
                    <p>Cette r&eacute;flexion sur l'autoportrait s'est poursuivie, quelques mois plus tard, par un
                        travail &agrave; la mine graphite sur le model&eacute; et les lignes du visage.</p>

                    <p>Le travail du portrait, travaill&eacute; en noir et blanc, a questionn&eacute; le model&eacute;
                        des visages, l'ombre et la lumi&egrave;re, l'empreinte du temps. Chaque visage, jeune ou plus
                        anciens, est marqu&eacute; de son histoire, de son r&eacute;cit, de son
                        individualit&eacute;.</p>

                    <p>A l'inverse, les fonds ont &eacute;t&eacute; travaill&eacute;s en couleurs, &agrave; l'aide de
                        motifs et de dessins personnels, issus de l'imaginaire et des souvenirs des personnes &acirc;g&eacute;es. </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/portrait2_1.jpg','img/projets/realisation/portrait2_2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                        <div class="caption">
                            <p class="text-center">
                                <small><i>Autoportraits r&eacute;alis&eacute;s par les seniors de la ville de Bordeaux.
                                        Mine graphite, collage, encres, crayons gras et feutres. Janvier 2016.</i>
                                </small>
                            </p>
                        </div>
                </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
