{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Illustrations</h4>
                    <p>Cr&eacute;ation d'illustrations de po&egrave;mes</p>
                    <p>
                        Apr&egrave;s avoir cr&eacute;&eacute; des po&egrave;mes sur le th&egrave;me de leurs souvenirs dans le cadre des cours d'alphab&eacute;tisation de fran&ccedil;ais dispens&eacute;s sur la structure, les anciens de l'espace <i></i>Hom'Age</i> de <i>l'association ALIFS</i> ont illustr&eacute; leurs textes.</p>
                    <p>Techniques mixtes. Janvier / mai 2018</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/illustrationHomage/illustration1.jpg','img/projets/realisation/illustrationHomage/illustration2.jpg','img/projets/realisation/illustrationHomage/illustration3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/illustrationHomage/illustration4.jpg','img/projets/realisation/illustrationHomage/illustration5.jpg','img/projets/realisation/illustrationHomage/illustration6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}


                    {% set vars = [ 'img/projets/realisation/illustrationHomage/illustration1.jpg','img/projets/realisation/illustrationHomage/illustration2.jpg','img/projets/realisation/illustrationHomage/illustration3.jpg','img/projets/realisation/illustrationHomage/illustration4.jpg','img/projets/realisation/illustrationHomage/illustration5.jpg','img/projets/realisation/illustrationHomage/illustration6.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                </div>

                <div class="page-header">
                    <h4>Kamishibai</h4>
                    <p>
                        Projet propos&eacute; aux enfants du Jardin d'Enfants Sp&eacute;cialis&eacute; <i>La Marelle</i>, B&edot;gles, octobre 2011, dans le cadre du <i>Nomadisme Artistique pour les Famille</i> en partenariat avec <i>La Maison de Nolan et des Familles</i> en mai 2015 &agrave; Bordeaux et pour le projet des T.A.P. sur les &eacute;coles &eacute;l&eacute;mentaires de Floirac pour l'ann&eacute;e scolaire 2016 / 2017.
                    </p>
                    <p>
                        Les enfants sont invit&eacute;s &agrave; imaginer et cr&eacute;er un Kamishiba&iuml;.
                    </p>
                    <p>
                        Le kamishiba&iuml; (de "kami" : papier et "shiba&iuml;" : th&eacute;&acirc;tre) est un petit th&eacute;&acirc;tre d'images d'origine japonaise, avec lequel les conteurs de rue se d&eacute;pla&ccedil;aient pour raconter des histoires. Cette technique est bas&eacute;e sur des images que l'on fait d&eacute;filer dans un castelet de bois &agrave; trois portes, appel&eacute; buta&iuml;.
                    </p>
                        {% set diapo = random() %}

                        {% set vars = ['img/projets/realisation/kamishibai1.jpg'] %}
                        {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage','legend':['Castelet de bois ou buta&iuml;.'] } %}

                    {% set vars = [ 'img/projets/realisation/kamishibai2.jpg','img/projets/realisation/kamishibai3.jpg','img/projets/realisation/kamishibai4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    <p class="text-center"> <small><i>Kamishiba&iuml; r&eacute;alis&eacute; par les enfants du Jardin d'Enfants Sp&eacute;cialis&eacute; <i>La Marelle</i>, B&edot;gles, octobre 2011</i></small></p>

                    {% set vars = [ 'img/projets/realisation/kami5.jpg','img/projets/realisation/kami6.jpg','img/projets/realisation/kami7.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/kami8.jpg','img/projets/realisation/kami9.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = ['img/projets/realisation/kamishibai1.jpg','img/projets/realisation/kamishibai2.jpg','img/projets/realisation/kamishibai3.jpg','img/projets/realisation/kamishibai4.jpg', 'img/projets/realisation/kami5.jpg','img/projets/realisation/kami6.jpg','img/projets/realisation/kami7.jpg','img/projets/realisation/kami8.jpg','img/projets/realisation/kami9.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}




                    <p class="text-center"> <small><i>Kamishiba&iuml; r&eacute;alis&eacute; par les enfants de l'&eacute;cole &eacute;l&eacute;mentaire L&eacute;on Blum, Floirac, sept/nov 2016</i></small></p>

                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
