{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example" class="img-responsive" style="margin-top: -20px;" />
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Tressages de motifs floraux</h4>
                        <p class="espacement" style="font-size: larger" ><strong> Cadres et tressages r&eacute;alis&eacute;s par des enfants &acirc;g&eacute;es de 6 &agrave; 10 ans </strong> </p>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170211_112335_resized.jpg') }}">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170218_114627.jpg') }}">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/IMGP2570.JPG') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/FB_IMG_1490555226118.jpg') }}">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <img class="img-responsive img-rounded center-block imgmarginbottom pop" style="max-height: 450px;" src="{{ asset('img/projets/actualites/tressage/20170327_100345.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
    {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
    </div>
</div>
{% endblock %}
