{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <p></p><strong><i>Fresque sur le thème de l'espace réalisé par les les enfants âgés de 7 à 10 ans à L'Atelier d'Arteli. Janvier / avril 2018 </i></strong></p>
                    {% set vars = [ 'img/projets/realisation/fresque_espace/3.jpg', 'img/projets/realisation/fresque_espace/4.jpg', 'img/projets/realisation/fresque_espace/5.jpg', 'img/projets/realisation/fresque_espace/7.jpg'] %}
                    {% set diapo =  random()  %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>
                <div class="page-header">
                    <p><strong><i>De l'Individu au Groupe : Les liens Fraternels</i></strong></p>
                    <p>
                        Projet r&eacute;alis&eacute; au Centre de Loisirs de Floirac et soutenu par la Ville de Floirac
                    </p>
                    <p>
                        Ce projet est ax&eacute; sur le travail individuel et collectif.
                        Les enfants sont tout d'abord invit&eacute;s &agrave; se r&eacute;approprier et &agrave; r&eacute;inventer
                        leur image par un
                        travail graphique et plastique sur leur portrait photographique. Dans un second temps, les
                        enfants &eacute;laborent une fresque o&ugrave; sont rassembl&eacute;s et li&eacute;s, tous les
                        portraits photographiques
                        r&eacute;invent&eacute;s au pr&eacute;alable.
                    </p>

                    {% set vars = [ 'img/projets/realisation/realisation1.jpg','img/projets/realisation/realisation2.jpg','img/projets/realisation/realisation3.jpg'] %}
                    {% set diapo =  random()  %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                    <p>
                        Les enfants r&eacute;alisent par groupe de 2 les portraits photographiques. La fresque est
                        construite &agrave; partir d'un jeu de lignes noires, d'aplats color&eacute;s, de collages, de
                        feutres et de de bombes de peinture (travail au pochoir).

                    </p>
                    <div>
                        <img src="{{ asset('img/projets/realisation/realisation5.jpg') }}" alt="Example"
                             class="img-responsive img-rounded center-block pop">
                        <p class="text-center">
                            <small><i>Fresque r&eacute;alis&eacute;e par 78 enfants du Centre de Loisirs de Floirac.
                                    Janvier/avril 2016.</i></small>
                        </p>
                    </div>

                </div>
                <div class="page-header">
                    <p><strong><i>Fresque sur le thème de l’océan</i></strong></p>
                    <p>Créée par les enfants de l’école Louis Aragon de Floirac, Printemps 2018.</p>

                    {% set diapo =  random()  %}
                    {% set vars = [ 'img/projets/realisation/fresqueOcean/fresqueocean1.jpg','img/projets/realisation/fresqueOcean/fresqueocean2.jpg','img/projets/realisation/fresqueOcean/fresqueocean3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}


                    {% set vars = [ 'img/projets/realisation/fresqueOcean/fresqueocean4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueOcean/fresqueocean1.jpg','img/projets/realisation/fresqueOcean/fresqueocean2.jpg','img/projets/realisation/fresqueOcean/fresqueocean3.jpg','img/projets/realisation/fresqueOcean/fresqueocean4.jpg'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>
                <div class="page-header">
                    <p><strong><i>Mémoires d’habitants et Migrations</i></strong></p>
                    <p>Projet réalisé en partenariat avec L’Ecole des femmes de l’association MANA. La fresque, issue d’un travail collectif, est l’expression de la diversité des parcours de vie, des cultures et des aspirations, richesse du quartier des Aubiers de Bordeaux. Printemps 2018</p>

                    {% set diapo =  random()  %}

                    {% set vars = [ 'img/projets/realisation/fresqueMana/fresquemana1.jpg','img/projets/realisation/fresqueMana/fresquemana2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueMana/fresquemana3.jpg','img/projets/realisation/fresqueMana/fresquemana4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueMana/fresquemana1.jpg','img/projets/realisation/fresqueMana/fresquemana2.jpg','img/projets/realisation/fresqueMana/fresquemana3.jpg','img/projets/realisation/fresqueMana/fresquemana4.jpg'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                </div>
                <div class="page-header">
                    <p><strong><i>Fresque participative et collaborative créée dans le cadre des 24 Heures du Jeu</i></strong></p>
                    <p>En partenariat avec l’association de ludothèques O Fil du Jeu, Floirac, mai 2018</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/fresque24h/fresque24heuredujeu.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>

            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
