{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}Carnaval réalisation de char {% endblock %}
    {% block imgheader %}
        <div class="row" xmlns="http://www.w3.org/1999/html">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <p><strong>Création d'un char pour le Carnaval de Bordeaux et le carnaval de Floirac. Edition 2020</strong></p>
                    <p>Char sur le thème de la nature et des éléments réalisé avec les élèves de 8 écoles de la commune, les familles présentes sur nos ateliers en accès libre, les artistes Jean François André, Krees, Mélanie Ribaillier et les bénévoles d'Arteli.<p>
                    <p>Projet soutenu par la commune de Floirac</p>
                        <p>En partenariat avec l'enseigne de matériel artistique Boesner au travers d'une réflexion et d'un engagement communs à recycler des matières et matériaux artistiques afin d'élargir les possibilités de création tout en respectant l'environnement.  </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/carnaval2020/1.jpg', 'img/projets/realisation/carnaval2020/2.jpg', 'img/projets/realisation/carnaval2020/3.jpg'] %}

                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    {% set vars = [ 'img/projets/realisation/carnaval2020/4.jpg', 'img/projets/realisation/carnaval2020/5.jpg', 'img/projets/realisation/carnaval2020/6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/carnaval2020/7.jpg', 'img/projets/realisation/carnaval2020/9.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage2' } %}

                    {% set vars = [ 'img/projets/realisation/carnaval2020/8.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}

                    {% set vars = [ 'img/projets/realisation/carnaval2020/1.jpg', 'img/projets/realisation/carnaval2020/2.jpg', 'img/projets/realisation/carnaval2020/3.jpg', 'img/projets/realisation/carnaval2020/4.jpg', 'img/projets/realisation/carnaval2020/5.jpg', 'img/projets/realisation/carnaval2020/6.jpg', 'img/projets/realisation/carnaval2020/7.jpg', 'img/projets/realisation/carnaval2020/8.jpg', 'img/projets/realisation/carnaval2020/9.jpg'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>

                <div class="page-header">
                    <p><strong>Création d'un char pour le Carnaval des 2 Rives et le carnaval de Floirac. Edition 2019</strong></p>
                    <p>Soutenue par la ville de Floirac, Arteli a réalisé en 2018/2019 un char sur le thème des gourmandises naturelle et des Brigands en partenariat avec l'association <i>Les Gourmandignes (AMAP Cenon)</i>. Le char a défilé en avril et mars 2019 sur le carnaval des 2 rives et le carnaval de Floirac et a servi de base de distribution de gourmandises naturelles confectionnées par les élèves des écoles élémentaires Pierre et Marie Curie et Danielle Mitterrand  sur l’EVS (UNIRE) avec le soutien des Gourmandignes.<p>
                        <p>Char réalisé avec les adhérents d'Arteli (60 enfants), 9 classes de l'école maternelle Jean Jaurès (230 élèves) et 2 classes de l'école élémentaire Jean Jaurès (35 élèves). 2 ateliers artistiques en accès libre ont été proposés aux habitants en janvier et en février pour soutenir la réalisation des éléments du char. Nous avons également ouvert 1 stage à <i>L'Atelier d'Arteli</i> en amont des carnavals pour créer avec nos adhérents les déguisements (tablier et toques) en lien avec le char. Enfin, la création du char a bénéficié d'interventions d'artistes floiracais avec le RAFU et le sculpteur Jean François André. Plus de 400 personnes ont participé à la création de ce beau char ludique et gourmand !

                    </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/carnaval2019/15.jpg', 'img/projets/realisation/carnaval2019/20190228_153113.jpg', 'img/projets/realisation/carnaval2019/5.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                    {% set vars = [ 'img/projets/realisation/carnaval2019/12.jpeg', 'img/projets/realisation/carnaval2019/DW2A0929.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait' } %}


                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                </div>

            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
