{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}R&eacute;alisations de Projets {% endblock %}
    {% block imgheader %}
        <div class="row" xmlns="http://www.w3.org/1999/html">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-REALISATION-PROJETS.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
                <div class="page-header">
                    <p><strong>Réalisation d'une fresque sur le bâtiment des anciens Bains Douches de la ville de Floirac où est domiciliée notre association.</strong></p>
                    <p>Dans le cadre d'un stage estival proposé à nos adhérents en juillet 2021. Avec les artistes Mélane et Ose.</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/baindouche/1.jpg','img/projets/realisation/baindouche/2.jpg','img/projets/realisation/baindouche/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/baindouche/1.jpg','img/projets/realisation/baindouche/2.jpg','img/projets/realisation/baindouche/3.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <p><strong>Réalisation d'une fresque sur un mur de l'école Pierre & Marie Curie de la ville de Floirac.Q</strong></p>
                    <p>Projet participatif et collaboratif créé et réalisé avec l'ensemble des élèves de l'école, l'équipe enseignante et les Francas accompagnés par l'artiste Mélane.</p>
                    <p>Action financée par la Réussite Éducative.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/fresqueCurie/1.jpg','img/projets/realisation/fresqueCurie/2.jpg','img/projets/realisation/fresqueCurie/3.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueCurie/4.jpg','img/projets/realisation/fresqueCurie/5.jpg','img/projets/realisation/fresqueCurie/6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueCurie/1.jpg','img/projets/realisation/fresqueCurie/2.jpg','img/projets/realisation/fresqueCurie/3.jpg','img/projets/realisation/fresqueCurie/4.jpg','img/projets/realisation/fresqueCurie/5.jpg','img/projets/realisation/fresqueCurie/6.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <p><strong>Rénovation et décoration du hall de la résidence Fraternité de Floirac</strong></p>
                    <p>Arteli s'est associée à l'AJHaG pour réaliser avec une quinzaine de jeunes floiracais la rénovation et le décor du hall d'entrée de la résidence Fraternité de Floirac.</p>
                    <p>Action soutenue par Domofrance</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/fresqueFraternite/1.jpg','img/projets/realisation/fresqueFraternite/4.jpg','img/projets/realisation/fresqueFraternite/5.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueFraternite/6.jpg','img/projets/realisation/fresqueFraternite/20190712_111338.jpg','img/projets/realisation/fresqueFraternite/20190711_152404.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage3x3' } %}


                    {% set vars = [ 'img/projets/realisation/fresqueFraternite/1.jpg','img/projets/realisation/fresqueFraternite/4.jpg','img/projets/realisation/fresqueFraternite/5.jpg','img/projets/realisation/fresqueFraternite/6.jpg','img/projets/realisation/fresqueFraternite/20190712_111338.jpg','img/projets/realisation/fresqueFraternite/20190711_152404.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}
                </div>
                <div class="page-header">
                    <p><strong>Les Enfants de Mandela</strong></p>
                    <p>Arteli s'est associé au collège Mandela pour créer une fresque avec les élèves sur les 54 mètres du mur de la cour de l'établissement.</p>
                    <p>Projet réalisé d'octobre 2018 à juin 2019 soutenu par la Ville de Floirac.</p>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <img src="{{ asset('img/projets/realisation/fresque_mandela/mandela_pou_dif.jpg') }}" alt="Example"
                                 class="img-responsive img-rounded portrait pop imgmarginbottom center-block"/>
                        </div>
                    </div>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/fresque_mandela/20190516_122414.jpg','img/projets/realisation/fresque_mandela/20190606_121358.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/fresque_mandela/20190625_134324.jpg','img/projets/realisation/fresque_mandela/20190625_134347.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/fresque_mandela/mandela_pou_dif.jpg','img/projets/realisation/fresque_mandela/20190625_134324.jpg','img/projets/realisation/fresque_mandela/20190625_134347.jpg', 'img/projets/realisation/fresque_mandela/20190516_122414.jpg','img/projets/realisation/fresque_mandela/20190606_121358.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                    <a class="btn btn-info" href="/download/Sud_Ouest_du_27_juin_2019.jpg">Télécharger l'article du Sud Ouest du 27 juin 2019</a>
                </div>
                <div class="page-header">
                    <p><strong>Projet d'une Fresque Urbaine sur bardages</strong></p>
                    <p>"L'envers du d&eacute;cor"</p>
                    <p>Quartier des Rives de Floirac</p>
                    <p>2017 / 2018</p>
                    {#<h5>Construction du pont JJ Bosc et ses raccordements - Travaux pr&eacute;alables en rive droite</h5>#}
                    <p>L'association <i>Arteli</i> a été sollicitée par l'entreprise <i>Dubreuilh</i>, en accord avec la
                        Métropole de Bordeaux et la Mairie de Floirac, pour coordonner la réalisation artistique d'une
                        fresque urbaine sur une clôture de bardages installée en mai 2017. Les barrières opaques, d'une
                        longueur de 600 mètres, sécurisent le chantier des travaux préalables à la construction du pont
                        Simone Veil et ses raccordements en rive droite.</p>
                    <p>Mélanie Ribaillier, directrice d'<i>Arteli</i> et artiste plasticienne s'associe à l'artiste
                        sculpteur Jean François André (<a href="http://mesculptures.fr" target="_blank">http://mescupltures.fr</a>) et
                        à l'artiste graffeur Jone (<a href="http://jone.book.fr" target="_blank">http://jone.book.fr</a>) pour
                        co-réaliser la fresque urbaine. Ce projet, commandé par l’entreprise <i>Dubreuilh</i>, est
                        soutenu par le Ministère de la Culture, Bordeaux Métropole, la ville de Floirac et l'entreprise
                        de peinture Caparol Center, mécène de l'action..</p>
                    <p>La fresque est associée à la Saison Street Art 2017, <i>Paysages</i> 2017 et à la biennale
                        d'architecture, d'urbanisme et de design Agora 2017.
                    </p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/jjbosc/1.jpg', 'img/projets/realisation/jjbosc/2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}


                    {% set vars = [ 'img/projets/realisation/jjbosc/9.jpg', 'img/projets/realisation/jjbosc/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}


                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <img src="{{ asset('img/projets/realisation/jjbosc/3.jpg') }}" alt="Example"
                                 class="img-responsive img-rounded portrait pop imgmarginbottom center-block"/>
                        </div>
                    </div>

                    {% set vars = [ 'img/projets/realisation/jjbosc/5.jpg', 'img/projets/realisation/jjbosc/6.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/jjbosc/7.jpg', 'img/projets/realisation/jjbosc/8.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}



                    <div class="row">
                        <div class="col-xs-12">
                            <img src="{{ asset('img/projets/realisation/jjbosc/montageinvitation.jpg') }}" alt="Example"
                                 class="img-responsive img-rounded paysage pop imgmarginbottom center-block"/>
                        </div>
                    </div>

                    {% set vars = [ 'img/projets/realisation/jjbosc/1.jpg', 'img/projets/realisation/jjbosc/2.jpg','img/projets/realisation/jjbosc/9.jpg', 'img/projets/realisation/jjbosc/4.jpg','img/projets/realisation/jjbosc/3.jpg','img/projets/realisation/jjbosc/5.jpg', 'img/projets/realisation/jjbosc/6.jpg','img/projets/realisation/jjbosc/7.jpg', 'img/projets/realisation/jjbosc/8.jpg','img/projets/realisation/jjbosc/montageinvitation.jpg'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                    <h5>Associer les habitants</h5>

                    <p>La mission première d'<i>Arteli</i> étant de fédérer les personnes et les habitants d'un même
                        territoire, il nous est apparu essentiel d'associer à cette action les résidents du quartier des
                        Rives de Floirac et les habitants de la commune. L’association <i>Arteli</i> a pour cela
                        recueilli le témoignage des habitants sur la rénovation urbaine, les nouvelles infrastructures
                        et la place essentielle du végétal dans ce nouveau paysage. Les paroles récoltées ont été
                        retranscrites sur la fresque par les 3 artistes. Les enfants et les familles de l'école Pasteur
                        de Floirac ont également été associés au projet. 5 rencontres de février à avril 2017 ont été
                        proposées aux habitants sur la base vie (Algéco) de l'entreprise <i>Dubreuilh</i> et 130
                        personnes ont été associées au projet.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'articleSudOuest022017.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (F&eacute;vrier 2017)</a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'sudOuest9mai.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (Mai 2017)</a>
                            {#<a href="{{ path('arteli_download',{'dlfile':'FichePresentationFresqueUrbaine.pdf'}) }}" class="btn btn-xs btn-info">Pr&eacute;sentation de la freque urbaine</a>#}
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'tendanceJuillet2017.pdf'}) }}"
                               class="btn btn-xs btn-info">Article Bordeaux Tendances (Juillet 2017)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'SudOuest18mars2017.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (Mars 2017)</a>

                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'articleSudouest6juin2017.pdf'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (Juin 2017)</a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'moniteurJuillet2017.pdf'}) }}"
                               class="btn btn-xs btn-info">Article Le Moniteur (Juillet 2017)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'SudOuest7avril2017.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (Avril 2017)</a>

                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'SudOuest22Juillet.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Sud Ouest (Juillet 2017)</a>

                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('arteli_download',{'dlfile':'magFloiracAout2017.jpg'}) }}"
                               class="btn btn-xs btn-info">Article Mag Floirac (Août 2017)</a>

                        </div>
                    </div>
                    <h4><a href="https://www.facebook.com/Lenvers-du-d&eacute;cor-300203467084435/" target="_blank">Voir
                            la page Facebook du projet</a></h4>
                </div>

                <div class="page-header">
                <p class="espacement"  id="solidarite"><strong>Projet <em> Entraide et Solidarit&eacute;</em></strong></p>
                <p>Actions r&eacute;alis&eacute;es en partenariat avec <i>L'Espace Social et Culturel du Haut Floirac,
                        Aquitanis</i>, la CAF, l'Espace Famille, Le Conseil D&eacute;partemental, la Mairie de Floirac,
                    l'AJHaG, les habitants des r&eacute;sidences Blaise Pascal Corneille et soutenues par la Fondation
                    Abb&eacute; Pierre.
                    Mai / septembre 2016.
                </p>
                <p>
                    L'association <i>Arteli</i> s'associe aux partenaires institutionnels, aux acteurs locaux, aux
                    structures associatives et aux habitants pour impulser sur le quartier <i>Dravemont</i> de Floirac
                    un projet artistique et collaboratif issu des objectifs suivant :
                <ul>
                    <li>
                        Mobiliser les acteurs (habitants/b&eacute;n&eacute;voles/professionnels) autour d'un projet
                        commun &agrave; partir de l'habitat et du cadre de vie
                    </li>
                    <li>
                        Construire collectivement des actions qui permettent de r&eacute;pondre aux besoins exprim&eacute;s
                        par les habitants et constats partag&eacute;s.
                    </li>
                    <li>
                        Valoriser les habitants par des actions concr&egrave;tes.
                    </li>
                </ul>
                </p>
                <p>
                    Une r&eacute;flexion est ici men&eacute;e sur la notion de territoire, du "vivre ensemble" et de la
                    coh&eacute;sion sociale avec les enjeux de favoriser l'expression et la d&eacute;marche
                    participative, de valoriser les individus et de f&eacute;d&eacute;rer du lien.
                </p>
                <p id="dravemont" class="espacement">
                    <strong>Un ensemble de cr&eacute;ations / une identit&eacute; visuelle forte</strong>
                </p>
                <p>
                    Il a &eacute;t&eacute; convenu de proposer aux habitants du quartier <i>Dravemont</i> de Floirac de
                    se r&eacute;approprier les espaces de vie communs en concevant des productions artistiques dans les
                    six halls d'entr&eacute;e des immeubles, deux entr&eacute;es de caves et le passage permettant de
                    relier le centre commercial et les entr&eacute;es d'immeubles.
                </p>
                <p>
                    Afin de garantir une identit&eacute; visuelle, plastique et graphique &agrave; l'ensemble du projet,
                    de cr&eacute;er du lien entre les r&eacute;alisations artistiques et de favoriser l'unit&eacute; et
                    la coh&eacute;sion sur le quartier, il a &eacute;t&eacute; convenu que l'association <i>Arteli </i>
                    coordonnerait la direction artistique du projet.
                </p>

                <p>
                    L'association <i>Arteli</i> a souhait&eacute; proposer aux habitants du quartier <i>Dravemont</i> la
                    r&eacute;alisation de trois fresques originales dans trois halls d'immeuble.
                </p>

                </p>
                <p> Les habitants des r&eacute;sidences ont travaill&eacute; conjointement et en libert&eacute; sur
                    plusieurs &eacute;l&eacute;ments de la fresque. Les contraintes d'ex&eacute;cution sont ici minimes
                    tout en garantissant l'enti&egrave;re participation des habitants et un r&eacute;sultat esth&eacute;tique
                    et ludique. Le choix des techniques artistiques (abstraction, utilisation de la ligne et des aplats
                    color&eacute;s) utilis&eacute;es pour la r&eacute;alisation de la fresque a incit&eacute; les
                    enfants &agrave; participer activement &agrave; la cr&eacute;ation artistique. Ils ont &eacute;t&eacute;
                    parrain&eacute;s dans leurs r&eacute;alisations par les adultes.
                </p>
                <p>
                    La th&eacute;matique globale du projet, choisie par les habitants et les artistes intervenants est
                    l'univers v&eacute;g&eacute;tal. la couleur dominante du projet est le bleu et le motif des r&eacute;sidences
                    en vue a&eacute;rienne se retrouvera, comme un fil conducteur, dans chaque r&eacute;alisation.

                </p>
                <p class="espacement">
                    <strong>Hall 4</strong>
                </p>
                <p>Les habitants accompagn&eacute;s par M&eacute;lanie ont ici r&eacute;alis&eacute; une fresque
                    &agrave; partir de leurs silhouettes et de motifs floraux.
                    36 habitants ont particip&eacute; cette r&eacute;alisation. 84 accueils ont &eacute;t&eacute;
                    effectu&eacute;s sur les 5 jours d'ateliers et les 2 ateliers photos d&eacute;di&eacute;s &agrave;
                    la r&eacute;alisation de la fresque.</p>

                    {% set diapo = random() %}
                {% set vars = [ 'img/projets/realisation/dravemont/IMGP1613.jpg', 'img/projets/realisation/dravemont/IMGP1616.jpg', 'img/projets/realisation/dravemont/IMGP1617.jpg', 'img/projets/realisation/dravemont/IMGP1621.jpg'] %}
                {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}


                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1624.jpg', 'img/projets/realisation/dravemont/IMGP1625.jpg' ] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1613.jpg', 'img/projets/realisation/dravemont/IMGP1616.jpg', 'img/projets/realisation/dravemont/IMGP1617.jpg', 'img/projets/realisation/dravemont/IMGP1621.jpg','img/projets/realisation/dravemont/IMGP1624.jpg', 'img/projets/realisation/dravemont/IMGP1625.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}



                <p class="espacement">
                    <strong>Hall 6</strong>
                </p>
                <p>
                    Une deuxi&egrave;me fresque a &eacute;t&eacute; r&eacute;alis&eacute;e dans une entr&eacute;e de r&eacute;sidence.
                    Une vue satellite du quartier de <i>Dravemont</i> et ses environs a &eacute;t&eacute; transcrite sur
                    un mur du hall.

                </p>
                <p><img src="{{ asset('img/projets/realisation/realisation6.jpg') }}" style="max-height: 250px;"
                        alt="Example" class="img-responsive img-rounded imgmarginbottom center-block pop"/></p>
                <p class="text-center">
                    <small><i>Vue satellite du quartier <i>Dravemont</i> de Floirac.</i></small>
                </p>
                <p>Trois vues satellites diff&eacute;rentes du quartier, incluant des points de vue plus ou moins larges
                    de <i>Dravemont</i> et du haut Floirac ont &eacute;t&eacute; propos&eacute;es aux habitants du
                    quartier. Ces derniers ont choisi la vue &agrave; reproduire et le mur du hall d'entr&eacute;e qui
                    servira de support &agrave; la fresque. Afin de palier aux contraintes techniques de la repr&eacute;sentation
                    exacte et &agrave; l'&eacute;chelle d'un plan, la vue satellite a &eacute;t&eacute; projet&eacute;e
                    par un vid&eacute;o projecteur sur le mur. Les habitants ont pu s'appuyer sur la projection pour
                    dessiner les contours des habitations, des rues et des diff&eacute;rents &eacute;l&eacute;ments
                    constitutifs du plan satellite.
                </p>
                <p>
                    Les couleurs employ&eacute;es dans cette fresque visent &agrave; repr&eacute;senter le r&eacute;el.
                    Ainsi, les habitants du quartier et les floiracais reconna&icirc;trons <i>Dravemont</i>. Cependant,
                    afin d'offrir une vue esth&eacute;tique et originale, de favoriser l'expression artistique libre et
                    de valoriser les imaginaires, les habitants ont pu "jouer" sur les mati&egrave;res, les textures,
                    les brillances, la matit&eacute;, les transparences pour r&eacute;aliser la fresque.
                </p>
                <p>
                    La fresque offre de nouveaux codes de lecture du quartier et permet un regard esth&eacute;tique,
                    novateur et donc valorisant du territoire.
                </p>
                    {% set diapo = random() %}
                {% set vars = [ 'img/projets/realisation/dravemont/20160715_190732.jpg', 'img/projets/realisation/dravemont/IMGP1653.jpg', 'img/projets/realisation/dravemont/IMGP1670.jpg', 'img/projets/realisation/dravemont/IMGP1674.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}


                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1680.jpg', 'img/projets/realisation/dravemont/IMGP1722.jpg', 'img/projets/realisation/dravemont/IMGP1723.jpg', 'img/projets/realisation/dravemont/satellite_final.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}


                    {% set vars = [ 'img/projets/realisation/dravemont/20160715_190732.jpg', 'img/projets/realisation/dravemont/IMGP1653.jpg', 'img/projets/realisation/dravemont/IMGP1670.jpg', 'img/projets/realisation/dravemont/IMGP1674.jpg','img/projets/realisation/dravemont/IMGP1680.jpg', 'img/projets/realisation/dravemont/IMGP1722.jpg', 'img/projets/realisation/dravemont/IMGP1723.jpg', 'img/projets/realisation/dravemont/satellite_final.jpg'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                <p>Les volumes v&eacute;g&eacute;taux et floraux occupant l'entr&eacute;e 8 ont &eacute;t&eacute; con&ccedil;us
                    par les habitants et les jeunes de la ville de Floirac en parall&egrave;le de la vue a&eacute;rienne.
                    15 journ&eacute;es d'ateliers ont &eacute;t&eacute; n&eacute;cessaires &agrave; la r&eacute;alisation
                    de la vue a&eacute;rienne et &agrave; la confection des volumes. 49 personnes ont particip&eacute;
                    &agrave; ces ateliers et 147 accueils ont &eacute;t&eacute; effectu&eacute;s sur ces 15 journ&eacute;es.</p>

                    {% set diapo = random() %}
                {% set vars = [ 'img/projets/realisation/dravemont/IMGP1710.jpg', 'img/projets/realisation/dravemont/IMGP1709.JPG', 'img/projets/realisation/dravemont/IMGP1707.JPG', 'img/projets/realisation/dravemont/IMGP1691.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1690.JPG', 'img/projets/realisation/dravemont/IMGP1688.JPG', 'img/projets/realisation/dravemont/IMGP1686.JPG', 'img/projets/realisation/dravemont/IMGP1652.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1710.jpg', 'img/projets/realisation/dravemont/IMGP1709.JPG', 'img/projets/realisation/dravemont/IMGP1707.JPG', 'img/projets/realisation/dravemont/IMGP1691.JPG','img/projets/realisation/dravemont/IMGP1690.JPG', 'img/projets/realisation/dravemont/IMGP1688.JPG', 'img/projets/realisation/dravemont/IMGP1686.JPG', 'img/projets/realisation/dravemont/IMGP1652.JPG'] %}

                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                <p class="espacement">
                    <strong>Hall 8</strong>
                </p>
                <p>Les r&eacute;sidents ont &eacute;t&eacute; invit&eacute;s &agrave; se r&eacute;approprier un hall 8,
                    espace de vie commun, en concevant plusieurs volumes, ludiques et color&eacute;s, sur le th&eacute;me
                    de l'univers v&eacute;g&eacute;tal, qui viennent rythmer, dynamiser et valoriser l'espace.

                    18 journ&eacute;es d'ateliers ont &eacute;t&eacute; n&eacute;cessaires &agrave; la r&eacute;alisation
                    de ce hall. 63 personnes ont particip&eacute;s &agrave; ces ateliers et 172 accueil ont &eacute;t&eacute;
                    r&eacute;alis&eacute;s.

                </p>

                    {% set diapo = random() %}
                {% set vars = [ 'img/projets/realisation/dravemont/IMGP1843.JPG', 'img/projets/realisation/dravemont/IMGP1842.JPG', 'img/projets/realisation/dravemont/IMGP1828.JPG', 'img/projets/realisation/dravemont/IMGP1839.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage4' } %}

                {% set vars = [ 'img/projets/realisation/dravemont/IMGP1834.JPG', 'img/projets/realisation/dravemont/IMGP1841.JPG', 'img/projets/realisation/dravemont/IMGP1716.JPG', 'img/projets/realisation/dravemont/IMGP1715.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'portrait4x4' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1784.JPG', 'img/projets/realisation/dravemont/IMGP1785.JPG'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/dravemont/IMGP1843.JPG', 'img/projets/realisation/dravemont/IMGP1842.JPG', 'img/projets/realisation/dravemont/IMGP1828.JPG', 'img/projets/realisation/dravemont/IMGP1839.JPG','img/projets/realisation/dravemont/IMGP1834.JPG', 'img/projets/realisation/dravemont/IMGP1841.JPG', 'img/projets/realisation/dravemont/IMGP1716.JPG', 'img/projets/realisation/dravemont/IMGP1715.JPG','img/projets/realisation/dravemont/IMGP1784.JPG', 'img/projets/realisation/dravemont/IMGP1785.JPG'] %}
                    {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

                </div>
                <div class="page-header">
                    <p><strong><i>Fresque ext&eacute;rieure / Ecole L&eacute;on Blum, ville de Floirac</i></strong></p>
                    <p> Action r&eacute;alis&eacute;e avec les enfants de la classe de CM2. Mars / avril 2017</p>
                    <p> Les grandes silhouettes &eacute;tant pr&eacute;-existantes au projet, nous avons pens&eacute;
                        cette r&eacute;alisation avec comme objectifs de valoriser les enfants et leur participation.
                        Les silhouettes, de diff&eacute;rentes tailles et rappelant les jeux d'enfants, sont li&eacute;es
                        par les lignes et les &eacute;l&eacute;ments v&eacute;g&eacute;taux. Les diff&eacute;rents verts
                        font &eacute;cho aux autres plantes et arbres pr&eacute;sents dans et autour de l'&eacute;cole.
                        Le mur, habill&eacute; de sa fresque color&eacute;e, ludique et v&eacute;g&eacute;tale, s'int&egrave;gre
                        d&eacute;sormais dans son environnement.
                    </p>

                    {% set diapo = random() %}

                    {% set vars = [ 'img/projets/realisation/leonblum/4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/leonblum/1.jpg', 'img/projets/realisation/leonblum/7.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    <div class="row">
                        <div class="col-md-12">
                            <img src="{{ asset('img/projets/realisation/leonblum/5.jpg') }}" alt="Example"
                                 class="img-responsive img-rounded pop imgmarginbottom"/>
                        </div>
                    </div>
                </div>
                {% set vars = [ 'img/projets/realisation/leonblum/4.jpg', 'img/projets/realisation/leonblum/1.jpg', 'img/projets/realisation/leonblum/7.jpg','img/projets/realisation/leonblum/5.jpg'] %}
                {% include '@Arteli/Modal/diaporama.html.twig' with vars %}


                <div class="page-header">
                    <p><strong><i>Création d’une fresque avec les élèves du lycée des Iris à Lormont.</i></strong></p>
                    <p>Sur le thème du surréalisme et en partenariat avec les enseignants et l’association ALIFS, les élèves de 1ère du lycée des Iris ont réalisé une fresque créée à partir de collages. Avril 2018.</p>

                    {% set diapo = random() %}
                    {% set vars = [ 'img/projets/realisation/fresqueIris/fresqueiris1.jpg','img/projets/realisation/fresqueIris/fresqueiris2.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}

                    {% set vars = [ 'img/projets/realisation/fresqueIris/fresqueiris3.jpg','img/projets/realisation/fresqueIris/fresqueiris4.jpg'] %}
                    {%  include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage' } %}
                </div>

                {% set vars = [ 'img/projets/realisation/fresqueIris/fresqueiris1.jpg','img/projets/realisation/fresqueIris/fresqueiris2.jpg','img/projets/realisation/fresqueIris/fresqueiris3.jpg','img/projets/realisation/fresqueIris/fresqueiris4.jpg'] %}
                {% include '@Arteli/Modal/diaporama.html.twig' with vars %}

            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
