{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-ATELIER.jpg') }}" alt="Example"
                 class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
    <div class="row text-justify">
        <div class="row main">
            <div class="col-md-8">
{#                <div class="page-header">#}
{#                    <h4>Ateliers en accès libre</h4>#}
{#                    <p>À partir du 3 Novembre 2020, Arteli met à disposition des ses <strong>adhérents adultes</strong>#}
{#                        un espace d'atelier pour des <strong>temps de pratique artistique libre et autonome.</strong>#}
{#                    </p>#}

{#                    <p>Les séances se dérouleront à Arteli dans l’espace atelier de Mélanie aux anciens "Bains Douches"#}
{#                        de la commune de Floirac.</p>#}

{#                    <strong>Les ouvertures, hebdomadaires, sont programmées les mardis de 18h à 20h (hors périodes de#}
{#                        vacances scolaires).</strong>#}

{#                    <p><strong>INSCRIPTIONS OBLIGATOIRES VIA LE FORMULAIRE CI-DESSOUS.</strong> À noter que les#}
{#                        inscriptions seront closes le mardi matin pour le mardi suivant.</p>#}

{#                    <p>Un nouveau tableau sera édité le 25 de chaque mois pour les séances du mois suivant.</p>#}

{#                    <p>Anne Sophie, Violaine et Julie sont les trois bénévoles de l'association référentes de cette#}
{#                        action.</p>#}

{#                    <p><strong>L'adhésion à Arteli est obligatoire</strong> pour l'accès à ces temps de pratique#}
{#                        artistique. Les nouveaux adhérents sont invités à rencontrer Mélanie en amont de leur première#}
{#                        séance (joignable au 06 63 78 48 26 ou par mail : <a href="mailto:arteli.association@gmail.com">arteli.association@gmail.com</a>)#}
{#                    </p>#}

{#                    <p>Le matériel artistique n'est pas fourni (hors pinceaux, pots à eau, chiffons…). Le matériel reste#}
{#                        sous la responsabilité de chacun. Un espace de stockage est mis à la disposition de nos#}
{#                        adhérents pour ces séances. L’atelier devra être rangé et le matériel nettoyé à la fin de la#}
{#                        séance.</p>#}

{#                    <div class="row">#}
{#                        <div class="col-sm-12">#}
{#                            <img class="img-responsive center-block imgmarginbottom pop" style="max-height: 250px" src="{{ asset('img/atelier/1.jpg') }}">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-sm-12">#}
{#                            <h4>Tableau de réservation pour le mois en cours</h4>#}
{#                            <table class="table table-bordered table-striped table-responsive">#}
{#                                {% for key, reservation in reservations %}#}
{#                                    <tr>#}
{#                                        <td>{{ wednesdays[key]|date("d M Y") }}<br>({{ maxSeat-reservation|length }} places#}
{#                                            disponibles)#}
{#                                        </td>#}
{#                                        {% for user in reservation %}#}
{#                                            <td>{{ user.username }}</td>#}
{#                                        {% endfor %}#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                            </table>#}

{#                            <h4>Effectuer une réservation</h4>#}
{#                            {{ form(formgrr) }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="page-header">
                    <h4>Stages</h4>
                    <p><strong>Notre association propose uniquement à ses adhérents des stages artistiques ponctuels (aucun atelier hebdomadaire)</strong></p>
                    <p>L'association <i>Arteli</i> propose très régulièrement à ses adhérents des stages artistiques.
                    </p>
                    <p>Ces derniers seront multigénérationnels et intergénérationnels et ouverts à tous (enfants,
                        adolescents, adultes). Ils sont axés sur les apprentissages techniques et artistiques et le
                        développement de l’imaginaire et de l’univers singulier.</p>
                    <p>Les stages et les projets artistiques sont animés par les trois artistes fondateurs du Lavabo
                        :</p>
                    {% set diapo = random() %}
                    {% set vars = [ 'img/stages/2.jpg','img/stages/7.jpg'] %}
                    {% include '@Arteli/Display/display.html.twig' with { 'vars': vars, 'css' :'paysage2' } %}
                    <p>Mélanie Ribaillier, artiste plasticienne exposant sous le pseudonyme de Mélane et fondatrice de
                        l’association <i>Arteli</i> anime généralement les stages. Toutefois, les autres artistes associés au projet du LAVABO peuvent ponctuellement
                        animer des ateliers de graff, sculpture, peinture à l'huile...</p>
                    <p>Tous nos stages se déroulent au 1er étage des anciens Bains Douches de la commune de Floirac.</p>
                    <p>Pour tout information sur les stages : <a href="mailto:arteli.association@gmail.com">arteli.association@gmail.com</a>
                        / 0663784826</p>

                </div>
                <div class="page-header">
                    <div class="row">
                        {% for  affiche in affiches %}
                            <div class="col-sm-4">
                                <img src="{{ asset(affiche) }}" class="img-thumbnail imgmarginbottom pop">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'ArteliBundle:Agenda:agenda.html.twig' %}
        </div>
    </div>
{% endblock %}
