@font-face {
    font-family: myFirstFont;
    src: url(../font/century-gothic.ttf);
}

body{
    font-family: myFirstFont;
    font-size:14px;
    margin-left:15px;
    margin-right:15px;
}
.menu1 {
    background: #0097ae;
    font-size:13px;
}

.menu1>li>a{
    color:#FFFFFF;
}

.menu2 {
    background: #00acc7;
    font-size:10px;
}

.menu2>li>a{
    color:#FFFFFF;
}
.presentation {
    background-image:  url('../img/presentation.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*display: block;*/
    /*width:350px;*/
    background-color: #00acc7;
    height:50px;
    /*background-position: center center;*/
}
.presentation a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: -10px;
}
.presentation ul ul {
    background-color: #0097ae;

}
.presentationMini {
    background-color: #00acc7;
    /*background-position: center center;*/
}
.presentationMini a {
    color: #FFFFFF;
    text-decoration: none;
}
.presentationMini ul ul {
    background-color: #0097ae;

}
.last{
    background-image: url('../img/presentation.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*display: block;*/
    /*width:350px;*/
    background-color: #0097ae;
    height:50px;
    /*background-position: center center;*/
}

.last a {
    color: #FFFFFF;
    text-decoration: none;

}
.projet{
    background-image: url('../img/projet.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*display: block;*/
    /*width:350px;*/
    background-color: #0097ae;
    height:50px;
    /*background-position: center center;*/
}

.projet a {
    color: #FFFFFF;
    text-decoration: none;
}

.projet ul ul {
    background-color: #00acc7;
}
.calendar {
    /*background-image:url('../img/calendar.png');*/
    /*background-color:#35d2c6;*/
    color: #ffffff;
    width:285px;
    min-height:160px;
    /*margin-top:-150px;*/
	padding-right :10px;
	padding-left :10px;
    padding-bottom:30px;
    margin-bottom:50px;
}
.main h4,h5 {
    color: #00acc7;
    padding-top : 10px;
}
.main ul > li {
    list-style-image:url("../img/puce.png");
}
.accueil {
    font-size:18px;
}

.arteli > li > a:hover,
.arteli > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.arteli .open>a, .arteli .open>a:focus, .arteli .open>a:hover {
     background-color: transparent;
    border-color: #337ab7;
}
.dropdown-menu {
    left:-30px;
}

.imgmarginbottom {
    margin-bottom: 20px;
}

.logoPartenaire {
    width: 100px;
    height: 100px;
}

.espacement{
    margin-top: 20px;
    margin-bottom: 20px;
}
.thumbnail-neg {
    margin-top:-20px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.dropdown-menu {
    margin-top:0px;
}

.nav>li>a {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/*nouveau menu deroulant*/
#menu, #menu ul {
    padding:0;
    margin:0;
    list-style: none;
    /*text-align: center;*/

}

#menu li {
    display:inline-block;
    vertical-align: top;
    position: relative;
}
#menu li li {
    display:inherit;
}
#menu a {
    display:block;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    text-decoration: none;
    color:#fff;
}
#menu ul li a {
    padding:5px 8px;
    color: #FFFFFF;
}
#menu ul li a:hover {
    background-color: #FFFFFF;
}
#menu ul {
    position: absolute;
    z-index: 1000;
    min-width:100%;
    white-space: nowrap;
    text-align: left;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
}
#menu ul ul {
    left:100%;
    top:0;
    overflow: hidden;
    max-width: 0;
    min-width: 0;
    transition: 0.3s all;

}
#menu ul li:hover ul {
    max-width: 30em;
}
#menu ul li {
    max-height:0;
    overflow: hidden;
    transition:all 0.8s;
}
#menu li li li {
    max-height: inherit;
}
#menu li:hover li {
    max-height: 15em;
    overflow: visible;
}

#menu li:hover {
    background-image:none;
}
#menu li:hover a, .menu li li:hover a {
    color:#000
}
#menu li:hover li a, #menu li:hover li li a {
    /*color:#fff*/
    color:#fff
}
#menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
    /*color:#FFFFFF;*/
    color:#000;
}
.submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-7px;}


.blink_text {

    animation:2s blinker linear infinite;
    -webkit-animation:2s blinker linear infinite;
    -moz-animation:2s blinker linear infinite;

    color: cyan;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.paysage {
    min-height: 220px;
    height: 220px;
    min-width: 370px;
    /*width: 400px;*/
}

.paysage3x3 {
    min-height: 150px;
    height: 150px;
    min-width: 240px;
    width: 240px;
}
.paysage4 {
    min-height: 140px;
    height: 140px;
    min-width: 160px;
    /*width: 400px;*/
}
.paysage2 {
    height: 258px;
    min-width: 380px;
}
.portrait {
    width: 300px;
    height: 400px;
}
.portrait4x4 {
    width: 170px;
    height: 250px;
}

.portrait3x3 {
    width: 230px;
    height: 320px;
}
