{% extends 'ArteliBundle:Default:base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
    {% block imgheader %}
        <div class="row">
            <img src="{{ asset('img/banner/Maquette_site-ARTELI_Photo-QUI-SOMMES-NOUS.jpg') }}" alt="Example"  class="img-responsive" style="margin-top: -20px;"/>
        </div>
    {% endblock %}
{% block content %}
<div class="row text-justify">
    <div class="row main">
        <div class="col-md-8">
            <div class="page-header">
                <div class="text-center" style="background-color: #35d2c6">
                    <h3 class="espacement"><span class="label glyphicon glyphicon-calendar">AGENDA</span></h3>
                    {% if events|length > 0 %}
                        {% for event in events %}
                            {% set horaireDebut = event.date|date('H:i') %}
                            {% set horaireFin = event.datefin|date('H:i') %}
                            {% if event.date|date('d/m/Y') == event.datefin|date('d/m/Y') %}
                                {% if horaireDebut != "00:00" %}
                                    <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut~' - '~horaireFin }}</strong>
                                {% else %}
                                    <strong>{{ event.date|date('d/m/Y') }}</strong>
                                {% endif %}
                            {% else %}
                                {% if  event.datefin > event.date %}
                                    {% if horaireDebut != "00:00" %}
                                        <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut~' - '~event.datefin|date('d/m/Y')~ ' - '~horaireFin }}</strong>
                                    {% else %}
                                        <strong>{{ event.date|date('d/m/Y')~' - '~event.datefin|date('d/m/Y')}}</strong>
                                    {% endif %}
                                {% else %}
                                    {% if horaireDebut != "00:00" %}
                                        <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut}}</strong>
                                    {% else %}
                                        <strong>{{ event.date|date('d/m/Y')}}</strong>
                                    {% endif %}
                                {% endif %}

                            {% endif %}

                            {% if event.url %}
                                <p><a href="{{ event.url }}" style="color: #FFF;"> {{ event.event | raw }}</a></p>
                            {% else %}
                                <p>{{ event.event | raw }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}


