<div class="hidden-sm hidden-xs col-md-4" xmlns="http://www.w3.org/1999/html">
    <div class="calendar text-right" style="background-color: #35d2c6">
        <h3 class="espacement"><span class="label glyphicon glyphicon-calendar">AGENDA</span></h3>
        {% if events|length > 0 %}
            {% for event in events %}
                {% set horaireDebut = event.date|date('H:i') %}
                {% set horaireFin = event.datefin|date('H:i') %}
                {% if event.date|date('d/m/Y') == event.datefin|date('d/m/Y') %}
                    {% if horaireDebut != "00:00" %}
                        <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut~' - '~horaireFin }}</strong>
                    {% else %}
                        <strong>{{ event.date|date('d/m/Y') }}</strong>
                    {% endif %}
                {% else %}
                    {% if  event.datefin > event.date %}
                        {% if horaireDebut != "00:00" %}
                            <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut~' - '~event.datefin|date('d/m/Y')~ ' - '~horaireFin }}</strong>
                        {% else %}
                            <strong>{{ event.date|date('d/m/Y')~' - '~event.datefin|date('d/m/Y')}}</strong>
                        {% endif %}
                    {% else %}
                        {% if horaireDebut != "00:00" %}
                            <strong>{{ event.date|date('d/m/Y')~' '~horaireDebut}}</strong>
                        {% else %}
                            <strong>{{ event.date|date('d/m/Y')}}</strong>
                        {% endif %}
                    {% endif %}

                {% endif %}

                {% if event.url %}
                    <p><a href="{{ event.url }}" style="color: #FFF;"> {{ event.event | raw }}</a></p>
                {% else %}
                    <p>{{ event.event | raw }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="fb-page espacement" data-href="https://www.facebook.com/arteli33" data-tabs="timeline" data-small-header="false"
         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/arteli33" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/arteli33">Arteli</a></blockquote>
    </div>
    <br>
    <div class="fb-page espacement" data-href="https://www.facebook.com/lelavabofloirac/" data-tabs="timeline" data-small-header="false"
         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/lelavabofloirac/" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/lelavabofloirac/">Le Lavabo</a></blockquote>
    </div>
    <br>
    <div class="fb-page espacement" data-href="https://www.facebook.com/Lenvers-du-d&#xe9;cor-300203467084435" data-tabs="timeline"
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/Lenvers-du-d&#xe9;cor-300203467084435" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Lenvers-du-d&#xe9;cor-300203467084435">L&#039;envers du décor</a>
        </blockquote>
    </div>
</div>
