{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agenda list</h1>
    <ul>
        <li>
            <a href="{{ path('agenda_new') }}">Create a new entry</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Datefin</th>
                <th>Event</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                <td>{% if agenda.date %}{{ agenda.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda.datefin %}{{ agenda.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ agenda.event }}</td>
                <td>{{ agenda.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_show', { 'id': agenda.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
